openapi: 3.1.0
info:
  title: Ring HTTP SDK and captured surface
  version: 0.3.0
  description: >-
    Contract for sanitized captures and existing Go SDK HTTP behavior. Each
    operation identifies whether its source is a capture, Go implementation, or
    synthetic replay case. It does not claim complete coverage of Ring's
    evolving API. Query parameters are optional unless a capture or existing
    implementation establishes otherwise.
servers:
  - url: https://api.ring.com
    description: Captured Ring API origin
security:
  - RingAccessToken: []
paths:
  /oauth/v2/authorize:
    get:
      operationId: beginOrContinueOAuthAuthorization
      description: >-
        Existing Go PKCE flow. The first request sends the authorization query
        parameters; later requests reuse the cookie-backed session and may omit
        them. Redirect state is checked by the client. This route is not present
        in the C1 HTTP captures.
      servers: [{url: https://oauth.ring.com}]
      security: []
      parameters:
        - {name: redirect_uri, in: query, required: false, schema: {type: string, format: uri}}
        - {name: client_id, in: query, required: false, schema: {type: string}}
        - {name: response_type, in: query, required: false, schema: {type: string, enum: [code]}}
        - {name: prompt, in: query, required: false, description: The implemented PKCE flow sends login; other OAuth prompts may exist., schema: {type: string, x-extensible-enum: [login]}}
        - {name: state, in: query, required: false, schema: {type: string}}
        - {name: scope, in: query, required: false, description: The implemented client requests the client scope., schema: {type: string, x-extensible-enum: [client]}}
        - {name: code_challenge, in: query, required: false, schema: {type: string}}
        - {name: code_challenge_method, in: query, required: false, schema: {type: string, enum: [S256]}}
        - {name: device_model, in: query, required: false, schema: {type: string}}
        - {name: app_version, in: query, required: false, schema: {type: string}}
        - {name: dark_mode, in: query, required: false, description: Boolean serialized as a query string., schema: {type: boolean}}
        - {name: device_brand, in: query, required: false, schema: {type: string}}
        - {name: device_os_version, in: query, required: false, schema: {type: string}}
        - {name: app_brand, in: query, required: false, schema: {type: string}}
        - {name: hardware_id, in: query, required: false, schema: {type: string}}
      responses:
        '200':
          description: Sign-in page
          content:
            text/html:
              schema: {type: string}
        '302': {$ref: '#/components/responses/OAuthRedirect'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/v2/signin:
    post:
      operationId: submitOAuthCredentials
      description: >-
        Existing Go PKCE credential submission using the OAuth cookie jar and
        CSRF token. Credentials are
        form data, never query parameters. No C1 capture establishes this flow.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/SignInForm'}
      responses:
        '200': {description: Credential submission state, content: {application/json: {schema: {$ref: '#/components/schemas/SignInState'}}}}
        '302': {$ref: '#/components/responses/OAuthRedirect'}
        '412': {$ref: '#/components/responses/TwoFactorRequired'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/v2/2fa/verify:
    post:
      operationId: verifyOAuthTwoFactorCode
      description: Existing Go PKCE verification request; uses the same cookie-backed session. No C1 capture.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/TwoFactorForm'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        '201': {$ref: '#/components/responses/Json'}
        '400': {$ref: '#/components/responses/AuthFailure'}
        '401': {$ref: '#/components/responses/AuthFailure'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/token:
    post:
      operationId: exchangeOrRefreshOAuthToken
      description: >-
        Existing Go authorization-code PKCE exchange and explicit refresh;
        legacy password grant remains a fallback only when the OAuth authorize
        endpoint is unavailable. There is no captured OAuth token exchange.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/OAuthTokenGrant'}
      responses:
        '200': {$ref: '#/components/responses/OAuthToken'}
        '400': {$ref: '#/components/responses/AuthFailure'}
        '401': {$ref: '#/components/responses/AuthFailure'}
        '412': {$ref: '#/components/responses/TwoFactorRequired'}
        '429': {$ref: '#/components/responses/RateLimited'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /clients_api/session:
    post:
      operationId: registerClientSession
      description: >-
        Existing Go session-registration body, sent once before inventory or
        signaling when a hardware ID is configured. The shape below follows
        the Go implementation; no C1 capture was
        identified.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ClientSessionRegistration'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/chimes/{device_id}:
    put:
      operationId: setChimeVolume
      description: >-
        Legacy volume update. The client requires description to
        reproduce the synthetic replay request shape; no capture proves the server
        requires that query field for volume changes.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: 'chime[description]', required: true, schema: {type: string}}
        - {in: query, name: 'chime[settings][volume]', required: true, schema: {type: integer, minimum: 0, maximum: 11}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}:
    put:
      operationId: updateLegacyDoorbotControls
      description: >-
        Legacy doorbell-volume or one in-home chime setting; query
        variants come from portable synthetic fixtures, not a C1 field capture.
        The client requires description to reproduce the replayed request shape;
        server necessity is unverified. A separate captured doorbot PUT sent a
        description and an empty settings object.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: 'doorbot[description]', required: true, schema: {type: string}}
        - {in: query, name: 'doorbot[settings][doorbell_volume]', schema: {type: integer, minimum: 0, maximum: 11}}
        - {in: query, name: 'doorbot[settings][chime_settings][type]', schema: {type: integer}}
        - {in: query, name: 'doorbot[settings][chime_settings][enable]', schema: {type: integer, enum: [0, 1]}}
        - {in: query, name: 'doorbot[settings][chime_settings][duration]', schema: {type: integer, minimum: 0}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/chimes/{device_id}/play_sound:
    post:
      operationId: testChimeSound
      description: Legacy sound request from synthetic replay.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: kind, required: true, schema: {type: string, enum: [ding, motion]}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}/floodlight_light_on:
    put:
      operationId: turnFloodlightOn
      description: Legacy light-on request from synthetic replay.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}/floodlight_light_off:
    put:
      operationId: turnFloodlightOff
      description: Legacy off path; no corresponding captured or synthetic request fixture.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/ring_devices/{device_id}/health:
    get:
      operationId: getLegacyDeviceHealth
      description: >-
        Generic device health route. The captured HTTP set has no matching
        health response; SDK tests use local fixtures only.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses:
        '200': {description: Legacy device health response, content: {application/json: {schema: {$ref: '#/components/schemas/LegacyDeviceHealth'}}}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/doorbots/{device_id}/history:
    get:
      operationId: getLegacyDeviceHistory
      description: >-
        Existing Go history operation uses this doorbot path. The Go API exposes
        limit and kind; older_than is documented but not sent by the client. C1 history
        routes use EVM endpoints and are specified separately.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {$ref: '#/components/parameters/limit'}
        - {$ref: '#/components/parameters/kind'}
        - {$ref: '#/components/parameters/older_than'}
      responses:
        '200': {$ref: '#/components/responses/RecordingArray'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/active:
    get:
      operationId: getActiveDings
      description: Existing Go active-dings route. No matching C1 capture was identified.
      responses:
        '200': {$ref: '#/components/responses/RecordingArray'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/{recording_id}/recording:
    get:
      operationId: streamRecording
      description: >-
        Existing Go method returns the response body as a streaming VideoStream;
        the caller owns and must close Body. It requests video/mp4 and does not
        buffer the media. Go's default http.Client follows redirects according
        to its CheckRedirect policy; a custom client may change that behavior.
        No sanitized recording response establishes redirect or media-host
        details.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses:
        '200':
          description: Video stream; body remains open for the caller to consume and close.
          content:
            video/mp4:
              schema: {type: string, format: binary}
        '302':
          description: Possible upstream redirect if exposed by the configured HTTP client; not established by local recordings.
          headers:
            Location: {schema: {type: string, format: uri-reference}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/{recording_id}/share/play:
    get:
      operationId: getLegacyRecordingShareURL
      description: Legacy share/play response, replayed synthetically; no matching C1 response.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses:
        '200':
          description: Playback share URL
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecordingShare'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /device_info/v3/devices:
    get:
      operationId: listDevices
      responses: {'200': {$ref: '#/components/responses/DeviceList'}}
  /device_info/v3/devices/{device_id}:
    get:
      operationId: getDevice
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/DeviceDetail'}}
  /devices/v1/devices/{device_id}/settings:
    get:
      operationId: getDeviceSettings
      parameters: [{$ref: '#/components/parameters/device_id'}]
      description: Captured response is extensible; typed Go API exposes motion_detection_enabled only.
      responses: {'200': {$ref: '#/components/responses/DeviceSettings'}}
    patch:
      operationId: patchDeviceSettings
      parameters: [{$ref: '#/components/parameters/device_id'}]
      description: >-
        The wire schema accepts all captured settings patches. The typed Go
        API currently sends only motion_settings.motion_detection_enabled.
      requestBody: {$ref: '#/components/requestBodies/DeviceSettingsPatch'}
      responses: {'200': {$ref: '#/components/responses/DeviceSettings'}}
  /evm/v2/timeline/devices/{device_id}:
    get:
      operationId: getDeviceTimeline
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {$ref: '#/components/parameters/start_time'}
        - {$ref: '#/components/parameters/end_time'}
        - {$ref: '#/components/parameters/order'}
        - {$ref: '#/components/parameters/limit'}
        - {$ref: '#/components/parameters/capabilities'}
      responses: {'200': {$ref: '#/components/responses/DeviceTimeline'}}
  /evm/v3/history/devices:
    get:
      operationId: getHistoryDevices
      parameters:
        - {$ref: '#/components/parameters/source_ids'}
        - {$ref: '#/components/parameters/capabilities'}
      responses: {'200': {$ref: '#/components/responses/HistoryDevices'}}
  /clients_api/doorbots/{device_id}/siren_on:
    put:
      operationId: turnSirenOn
      parameters: [{$ref: '#/components/parameters/device_id'}]
      description: No duration query or request body is present in the capture.
      responses: {'200': {$ref: '#/components/responses/SirenOn'}}
  /clients_api/doorbots/{device_id}/siren_off:
    put:
      operationId: turnSirenOff
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {description: Siren stopped; empty captured response}}
  /clients_api/snapshots/timestamps:
    post:
      operationId: refreshLegacySnapshotTimestamp
      description: >-
        Legacy snapshot trigger and poll. The first response may
        omit timestamps. This contract comes from shared synthetic replay, not
        the C1 app-snaps request with missing response.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SnapshotTimestampRequest'}
      responses:
        '200':
          description: Optional timestamp for the requested snapshot
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SnapshotTimestampResponse'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/snapshots/image/{device_id}:
    get:
      operationId: getLegacySnapshotImage
      description: Legacy image download after a newer timestamp appears; response shape is synthetic replay evidence.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses:
        '200':
          description: Snapshot image bytes
          content:
            image/jpeg: {schema: {type: string, format: binary}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /api/v1/clap/tickets:
    get:
      operationId: getCapturedLocationTickets
      description: >-
        Captured GET route. Its relationship to the existing POST signaling
        bootstrap below is not established.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      parameters:
        - {$ref: '#/components/parameters/allowUserOnly'}
        - {$ref: '#/components/parameters/locationID'}
        - {$ref: '#/components/parameters/locationSubscription'}
        - {$ref: '#/components/parameters/enableExtendedEmergencyCellUsage'}
        - {$ref: '#/components/parameters/requestedTransport'}
      responses: {'200': {$ref: '#/components/responses/CapturedTickets'}}
  /api/v1/clap/ticket/request/signalsocket:
    post:
      operationId: requestLegacySignalingTicket
      description: >-
        Existing Go signaling bootstrap. This POST route is implemented and
        covered by local tests, but was not found in the C1 HTTP recordings.
        It is distinct from the captured GET /api/v1/clap/tickets operation.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      responses: {'200': {$ref: '#/components/responses/LegacySignalingTicket'}}
  /commands/v1/devices/{device_id}:
    patch:
      operationId: sendDeviceCommand
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/DeviceCommand'}
      responses: {'204': {description: Command accepted; empty response}}
  /duos/v1/devices/{device_id}/update:
    put:
      operationId: setLiveViewEnabled
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LiveViewSettingRequest'}
      responses: {'204': {description: Setting accepted; empty response}}
  /groups/v1/locations/{location_id}/devices:
    get:
      operationId: listLocationDevices
      parameters: [{$ref: '#/components/parameters/location_id'}]
      responses: {'200': {$ref: '#/components/responses/LocationGroupDevices'}}
  /groups/v1/locations/{location_id}/groups:
    get:
      operationId: listLocationGroups
      parameters: [{$ref: '#/components/parameters/location_id'}]
      responses: {'200': {$ref: '#/components/responses/LocationGroups'}}
  /location_info/v3/locations:
    get:
      operationId: listLocations
      responses: {'200': {$ref: '#/components/responses/LocationList'}}
  /location_info/v4/locations/{location_id}:
    get:
      operationId: getLocation
      parameters:
        - {$ref: '#/components/parameters/location_id'}
        - {$ref: '#/components/parameters/include'}
      responses: {'200': {$ref: '#/components/responses/LocationDetail'}}
  /clients_api/dings/{recording_id}:
    delete:
      operationId: deleteRecording
      parameters:
        - {$ref: '#/components/parameters/recording_id'}
        - {$ref: '#/components/parameters/confirm_delete_favorite'}
      responses: {'204': {description: Recording deleted; empty response}}
  /clients_api/dings/{recording_id}/favorite:
    put:
      operationId: favoriteRecording
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses: {'201': {description: Recording favorited; empty captured response}}
components:
  securitySchemes:
    RingAccessToken:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
      description: >-
        Existing Go HTTP calls send Authorization: Bearer using the configured
        access token or token getter. The library also retains its existing
        username/password and refresh-token authentication flows. These
        recordings do not capture OAuth token exchange, so no grant flow or
        token lifetime is specified here.
  parameters:
    device_id: {name: device_id, in: path, required: true, schema: {type: integer, format: int64, minimum: 1}}
    location_id: {name: location_id, in: path, required: true, schema: {type: string}}
    recording_id: {name: recording_id, in: path, required: true, schema: {type: integer, format: int64, minimum: 1}}
    start_time: {name: start_time, in: query, required: false, description: Inclusive timeline start in RFC 3339 format; requiredness is not established., schema: {type: string, format: date-time}}
    end_time: {name: end_time, in: query, required: false, description: Timeline end in RFC 3339 format; requiredness is not established., schema: {type: string, format: date-time}}
    order: {name: order, in: query, required: false, description: Descending order was recorded; other values may be accepted., schema: {type: string, x-extensible-enum: [desc]}}
    limit: {name: limit, in: query, required: false, description: Positive maximum number of results; 20 was recorded., schema: {type: integer, minimum: 1}}
    capabilities: {name: capabilities, in: query, required: false, description: "Comma-separated capability tokens. Observed tokens are offline_event, vehicle and ringtercom; future tokens are possible.", schema: {type: string, x-known-tokens: [offline_event, vehicle, ringtercom]}}
    source_ids: {name: source_ids, in: query, required: false, description: Observed query name; value is sanitized in the capture., schema: {type: string}}
    allowUserOnly: {name: allowUserOnly, in: query, required: false, description: Boolean encoded as a query string; false was recorded., schema: {type: boolean}}
    locationID: {name: locationID, in: query, required: false, schema: {type: string}}
    locationSubscription: {name: locationSubscription, in: query, required: false, schema: {type: string}}
    enableExtendedEmergencyCellUsage: {name: enableExtendedEmergencyCellUsage, in: query, required: false, description: Boolean encoded as a query string; true was recorded., schema: {type: boolean}}
    requestedTransport: {name: requestedTransport, in: query, required: false, description: WebSocket transport ws was recorded; other transports remain possible., schema: {type: string, x-extensible-enum: [ws]}}
    include: {name: include, in: query, required: false, description: "Comma-separated location expansions. Observed tokens are capabilities, presentation and status; future tokens are possible.", schema: {type: string, x-known-tokens: [capabilities, presentation, status]}}
    confirm_delete_favorite: {name: confirm_delete_favorite, in: query, required: false, description: Boolean encoded as a query string; false was recorded and requiredness is not established., schema: {type: boolean}}
    kind: {name: kind, in: query, required: false, description: "Go forwards this value without restricting it; known history kinds are ding, motion and on_demand.", schema: {type: string, x-extensible-enum: [ding, motion, on_demand]}}
    older_than: {name: older_than, in: query, required: false, description: Positive history cursor timestamp documented for this route; not currently sent by Go., schema: {type: integer, format: int64, minimum: 0}}
  requestBodies:
    Json: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
    DeviceSettingsPatch:
      required: true
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceSettingsPatch'}
    ExtensibleObject:
      required: true
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ExtensibleObject'}
  responses:
    DeviceList:
      description: Captured v3 inventory; device-specific fields remain extensible
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceList'}
    DeviceDetail:
      description: Captured v3 detail envelope
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceDetail'}
    DeviceSettings:
      description: Captured settings object; unclassified fields are preserved as extensible JSON values
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceSettings'}
    DeviceTimeline: {description: Captured device timeline, content: {application/json: {schema: {$ref: '#/components/schemas/DeviceTimeline'}}}}
    HistoryDevices: {description: Captured account history, content: {application/json: {schema: {$ref: '#/components/schemas/HistoryDevices'}}}}
    CapturedTickets: {description: Captured GET ticket profile, content: {application/json: {schema: {$ref: '#/components/schemas/CapturedTickets'}}}}
    LegacySignalingTicket: {description: Legacy POST signaling ticket, content: {application/json: {schema: {$ref: '#/components/schemas/LegacySignalingTicket'}}}}
    LocationGroupDevices: {description: Captured group-device envelope, content: {application/json: {schema: {$ref: '#/components/schemas/LocationGroupDevices'}}}}
    LocationGroups: {description: Captured location groups, content: {application/json: {schema: {$ref: '#/components/schemas/LocationGroups'}}}}
    LocationList: {description: Captured locations, content: {application/json: {schema: {$ref: '#/components/schemas/LocationList'}}}}
    LocationDetail: {description: Captured location detail, content: {application/json: {schema: {$ref: '#/components/schemas/LocationDetail'}}}}
    SirenOn:
      description: Captured server status; the request does not set its duration
      content:
        application/json:
          schema: {$ref: '#/components/schemas/SirenStatus'}
    OAuthToken:
      description: Existing Go token response shape; no matching C1 OAuth capture
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthToken'}
    OAuthRedirect:
      description: OAuth navigation response; the client checks returned state
      headers:
        Location: {required: true, schema: {type: string, format: uri-reference}}
    TwoFactorRequired:
      description: OAuth server requests or rejects a two-factor verification step
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    RateLimited:
      description: OAuth server rate-limited a request
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    AuthFailure:
      description: Authentication failure response mapped to an SDK authentication error
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    HTTPFailure:
      description: Existing Go methods map non-2xx API responses to HTTPError; not a captured error contract
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    RecordingArray:
      description: Legacy recording list; Go decodes a JSON array directly
      content:
        application/json:
          schema:
            type: array
            items: {$ref: '#/components/schemas/Recording'}
    Json: {description: Captured JSON response, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
  schemas:
    SignInForm:
      type: object
      required: [username, password, csrf-token]
      properties:
        username: {type: string}
        password: {type: string, format: password}
        csrf-token: {type: string}
    TwoFactorForm:
      type: object
      required: [2fa_code, csrf-token, remember_me]
      properties:
        2fa_code: {type: string}
        csrf-token: {type: string}
        remember_me: {type: string, enum: ['false']}
    RecordingShare:
      type: object
      required: [url]
      properties:
        url: {type: string, format: uri}
    SnapshotTimestampRequest:
      type: object
      required: [doorbot_ids]
      properties:
        doorbot_ids: {type: array, minItems: 1, items: {type: integer, minimum: 1}}
    SnapshotTimestampResponse:
      type: object
      properties:
        timestamps: {type: array, items: {$ref: '#/components/schemas/SnapshotTimestamp'}}
    SnapshotTimestamp:
      type: object
      required: [timestamp]
      properties:
        timestamp: {type: integer, format: int64}
    DeviceCommand:
      type: object
      required: [command_name]
      properties:
        command_name: {type: string, enum: [reboot]}
    LiveViewSettingRequest:
      type: object
      required: [entity]
      properties:
        entity: {$ref: '#/components/schemas/LiveViewSetting'}
    LiveViewSetting:
      type: object
      required: [live_view_enabled]
      properties:
        live_view_enabled: {type: boolean}
    OAuthTokenGrant:
      description: >-
        Form variants currently used by Go: authorization-code PKCE, explicit
        refresh, and the compatibility password grant fallback.
      oneOf:
        - {$ref: '#/components/schemas/AuthorizationCodeGrant'}
        - {$ref: '#/components/schemas/RefreshTokenGrant'}
        - {$ref: '#/components/schemas/LegacyPasswordGrant'}
    AuthorizationCodeGrant:
      type: object
      required: [grant_type, code, redirect_uri, code_verifier, client_id]
      properties:
        grant_type: {type: string, const: authorization_code}
        code: {type: string}
        redirect_uri: {type: string, format: uri}
        code_verifier: {type: string}
        client_id: {type: string}
      additionalProperties: false
    RefreshTokenGrant:
      type: object
      required: [grant_type, refresh_token, client_id, scope]
      properties:
        grant_type: {type: string, const: refresh_token}
        refresh_token: {type: string}
        client_id: {type: string}
        scope: {type: string}
      additionalProperties: false
    LegacyPasswordGrant:
      type: object
      required: [grant_type, username, password, client_id, scope]
      properties:
        grant_type: {type: string, const: password}
        username: {type: string}
        password: {type: string, format: password}
        client_id: {type: string}
        scope: {type: string}
      additionalProperties: false
    OAuthToken:
      type: object
      required: [access_token, token_type]
      properties:
        access_token: {type: string}
        refresh_token: {type: string}
        expires_in: {type: integer}
        token_type: {type: string}
        scope: {type: string}
      additionalProperties: true
    ClientSessionRegistration:
      type: object
      required: [device]
      properties:
        device:
          type: object
          required: [hardware_id, metadata, os]
          properties:
            hardware_id: {type: string}
            metadata:
              type: object
              required: [api_version, device_model]
              properties:
                api_version: {type: integer, const: 11}
                device_model: {type: string}
              additionalProperties: true
            os: {type: string, const: android}
          additionalProperties: true
      additionalProperties: true
    Recording:
      type: object
      required: [id, kind, answered, created_at, doorbot]
      properties:
        id: {type: integer}
        kind: {type: string, description: "Known recording kinds include ding, motion and on_demand; future kinds remain valid.", x-extensible-enum: [ding, motion, on_demand]}
        answered: {type: boolean}
        created_at: {type: string}
        doorbot:
          type: object
          required: [id]
          properties:
            id: {type: integer}
            description: {type: string, description: Legacy recording fixture field.}
            type: {type: string, description: Legacy recording fixture field.}
          additionalProperties: true
      additionalProperties: true
    ExtensibleObject:
      type: object
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    DeviceList:
      type: object
      required: [devices]
      properties:
        devices: {type: array, items: {$ref: '#/components/schemas/Device'}}
        device_operation_sets:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    SignInState:
      type: object
      properties:
        tsv_state: {type: string, description: Presence indicates two-factor verification is required.}
        next_time_in_secs: {type: integer, minimum: 0}
      additionalProperties: true
    LegacyDeviceHealth:
      description: Fields consumed by the legacy health adapter; no captured C1 response establishes additional fields.
      type: object
      properties:
        battery_level: {type: integer}
        battery_status: {type: string}
        signal_strength: {type: integer}
        firmware_version: {type: string}
        last_update: {type: string}
      additionalProperties: true
    DeviceDetail:
      type: object
      required: [device]
      properties:
        device: {$ref: '#/components/schemas/Device'}
        device_operation_set:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    Device:
      description: Captured inventory/detail shape with additional baseline fixture fields; unknown hardware fields remain open.
      type: object
      required: [id, kind, description]
      properties:
        id: {type: integer, format: int64}
        device_id: {type: string}
        kind: {type: string, description: "Observed v3 kind is stickup_cam_mini_ptz_v1; baseline fixtures also include doorbells, chimes and intercoms. Unknown kinds remain valid.", x-extensible-enum: [stickup_cam_mini_ptz_v1, lpd_v1, chime, intercom_handset_audio]}
        description: {type: string}
        name: {type: string, description: Legacy inventory display name; v3 capture uses description.}
        address: {type: string}
        timezone: {type: string}
        time_zone: {type: string, description: Alternate legacy timezone spelling.}
        wifi_name: {type: string}
        wifi_signal_strength: {type: integer}
        volume: {type: integer, minimum: 0, maximum: 11}
        has_light: {type: boolean}
        light_brightness: {type: integer}
        motion_detection_enabled: {type: boolean}
        location_id: {type: string}
        family: {type: string, description: "Baseline families include doorbots, chimes, stickup_cams and other; absent in the v3 capture and unknown families remain valid.", x-extensible-enum: [doorbots, chimes, stickup_cams, other]}
        owned: {type: boolean}
        created_at: {type: string, format: date-time}
        deactivated_at: {type: [string, 'null'], format: date-time}
        operation_set: {type: string}
        owner: {$ref: '#/components/schemas/DeviceOwner'}
        health: {$ref: '#/components/schemas/DeviceHealth'}
        features: {$ref: '#/components/schemas/DeviceFeatures'}
        settings: {$ref: '#/components/schemas/DeviceLegacySettings'}
      additionalProperties: true
    DeviceFamilyCode:
      description: Observed legacy family labels. The device family field itself remains open to future values.
      type: string
      enum: [doorbots, chimes, stickup_cams, other]
    DoorbellDeviceKind:
      description: Known doorbell kinds from captured and baseline inventories; unknown kinds remain valid on Device.kind.
      type: string
      enum: [doorbot, doorbell, doorbell_v3, doorbell_v4, doorbell_v5, doorbell_scallop_lite, doorbell_oyster, doorbell_scallop, lpd_v1, lpd_v2, lpd_v3, lpd_v4, jbox_v1, doorbell_graham_cracker, df_doorbell_clownfish, doorbell_portal, cocoa_doorbell, cocoa_doorbell_v2]
    ChimeDeviceKind:
      description: Known chime kinds from captured and baseline inventories.
      type: string
      enum: [chime, chime_v2, chime_pro, chime_pro_v2]
    CameraDeviceKind:
      description: Known camera kinds from captured and baseline inventories.
      type: string
      enum: [hp_cam_v1, floodlight_v2, floodlight_pro, cocoa_floodlight, stickup_cam_mini, stickup_cam_mini_v2, stickup_cam_mini_ptz_v1, stickup_cam_v4, hp_cam_v2, spotlightw_v2, cocoa_spotlight, stickup_cam_longfin, stickup_cam, stickup_cam_v3, stickup_cam_lunar, stickup_cam_elite, stickup_cam_wired, cocoa_camera]
    OtherDeviceKind:
      description: Known devices with no doorbell, chime, or camera projection.
      type: string
      enum: [beams_ct200_transformer, intercom_handset_audio, intercom_handset_video]
    DeviceOwner:
      type: object
      properties:
        id:
          description: Numeric in the v3 capture and string in legacy inventory fixtures.
          oneOf:
            - {type: integer, format: int64}
            - {type: string}
        first_name: {type: string}
        last_name: {type: string}
        email: {type: string}
      additionalProperties: true
    DeviceHealth:
      type: object
      properties:
        battery_level: {type: integer}
        battery_status: {type: string}
        signal_strength: {type: integer}
        last_update: {type: string}
        connected: {type: boolean}
        rssi: {type: number}
        ptz_connected: {type: [string, 'null'], description: Observed non-null PTZ connection label is emperor; other hardware labels remain valid., x-extensible-enum: [emperor]}
        supported_rpc_commands: {type: array, items: {type: string}}
        firmware_version: {type: string}
        battery_percentage_category: {type: string, description: The capture reports unknown; other battery categories remain valid., x-extensible-enum: [unknown]}
      additionalProperties: true
    DeviceFeatures:
      type: object
      properties:
        auto_track: {$ref: '#/components/schemas/FeatureAvailability'}
        auto_zoom_track:
          anyOf:
            - {$ref: '#/components/schemas/FeatureAvailability'}
            - {type: 'null'}
        video_rendering: {$ref: '#/components/schemas/VideoRenderingFeature'}
        motions_enabled: {type: boolean}
      additionalProperties: true
    FeatureAvailability:
      type: object
      properties:
        eligibility: {$ref: '#/components/schemas/FeatureEligibility'}
        enablement: {$ref: '#/components/schemas/FeatureEnablement'}
      additionalProperties: true
    FeatureEligibility:
      type: object
      properties:
        eligible: {type: boolean}
        ineligibility_reasons: {type: array, items: {type: string}}
      additionalProperties: true
    FeatureEnablement:
      type: object
      properties:
        allowed: {type: boolean}
        enabled: {type: boolean}
        disallow_reasons: {type: array, items: {type: string}}
      additionalProperties: true
    VideoRenderingFeature:
      type: object
      properties:
        max_digital_zoom_level: {type: number, minimum: 0, description: Device-reported maximum digital zoom level; units beyond the capture are not established.}
      additionalProperties: true
    DeviceLegacySettings:
      type: object
      properties:
        motion_detection_enabled: {type: boolean}
        doorbell_volume: {type: integer, minimum: 0, maximum: 11, description: Legacy doorbell volume accepted by the Go client.}
        live_view_disabled: {type: boolean}
      additionalProperties: true
    DeviceOperationSet:
      description: Operation names are dynamic; captured entries are empty capability descriptors.
      type: object
      additionalProperties: {type: object, additionalProperties: true}
    DeviceSettings:
      type: object
      properties:
        motion_settings:
          anyOf:
            - {$ref: '#/components/schemas/MotionSettings'}
            - {type: 'null'}
        ptz_settings: {$ref: '#/components/schemas/PTZSettings'}
        video_settings: {$ref: '#/components/schemas/VideoSettings'}
        volume_settings: {$ref: '#/components/schemas/VolumeSettings'}
        chime_settings: {$ref: '#/components/schemas/ChimeSettings'}
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    MotionSettings:
      type: object
      properties:
        motion_detection_enabled: {type: [boolean, 'null']}
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    PTZSettings:
      type: object
      properties:
        mode: {type: string, description: Observed PTZ mode is user; other device modes remain valid., x-extensible-enum: [user]}
        auto_scan: {$ref: '#/components/schemas/PTZAutoScan'}
        pan_settings: {$ref: '#/components/schemas/PTZAxisSettings'}
        tilt_settings: {$ref: '#/components/schemas/PTZAxisSettings'}
      additionalProperties: true
    PTZAutoScan:
      type: object
      properties:
        pause_ms: {type: integer, minimum: 0, description: Auto-scan pause in milliseconds.}
        step_size: {type: number, minimum: 0, description: Device-reported auto-scan step size; units are not established by the capture.}
      additionalProperties: true
    PTZAxisSettings:
      type: object
      properties:
        movement: {$ref: '#/components/schemas/PTZMovement'}
        positions: {$ref: '#/components/schemas/PTZPositions'}
      additionalProperties: true
    PTZMovement:
      type: object
      properties:
        max_acceleration: {type: number, minimum: 0, description: Non-negative device-reported acceleration limit; its scale is not established.}
        max_speed: {type: number, minimum: 0, maximum: 1, description: "Device-reported normalized maximum PTZ speed, distinct from a command's requested speed."}
        step_size: {type: number, minimum: 0, description: Device-reported movement step size; units are not established by the capture.}
      additionalProperties: true
    PTZPositions:
      type: object
      properties:
        default: {type: number}
        max: {type: number}
        min: {type: number}
      additionalProperties: true
    VideoSettings:
      type: object
      properties:
        hdr_enable: {type: boolean}
        hevc_enabled: {type: boolean}
        brightness: {type: integer, minimum: 0, description: Device-reported brightness level; the capture does not establish a maximum.}
        clip_length_max: {type: integer, minimum: 0, description: Maximum clip duration in seconds.}
        clip_length_min: {type: integer, minimum: 0, description: Minimum clip duration in seconds.}
      additionalProperties: true
    VolumeSettings:
      type: object
      properties:
        doorbell_volume: {type: integer, minimum: 0, maximum: 11, description: Legacy doorbell volume accepted by the Go client.}
        mic_volume: {type: integer, minimum: 0, description: Non-negative device-reported microphone volume; upper bound is not established.}
        voice_volume: {type: integer, minimum: 0, description: Non-negative device-reported voice volume; upper bound is not established.}
      additionalProperties: true
    ChimeSettings:
      type: object
      properties:
        duration: {type: integer, minimum: 0, description: Chime duration in seconds.}
        enable: {type: boolean}
        type: {type: integer, description: Captured chime type code is 2; other numeric codes remain valid., x-extensible-enum: [2]}
      additionalProperties: true
    DeviceSettingsPatch:
      type: object
      minProperties: 1
      description: >-
        Extensible wire patch. Captured variants include motion_settings,
        video_settings, general_settings, and volume_settings. The public typed
        Go method currently emits motion_settings only.
      properties:
        motion_settings: {$ref: '#/components/schemas/MotionSettingsPatch'}
        video_settings: {$ref: '#/components/schemas/SettingsObject'}
        general_settings: {$ref: '#/components/schemas/SettingsObject'}
        volume_settings: {$ref: '#/components/schemas/SettingsObject'}
      additionalProperties: {$ref: '#/components/schemas/SettingsObject'}
    MotionSettingsPatch:
      type: object
      properties:
        motion_detection_enabled: {type: boolean}
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    SettingsObject:
      type: object
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    SirenStatus:
      type: object
      required: [started_at, ends_at, duration, seconds_remaining]
      properties:
        started_at: {type: string, format: date-time}
        ends_at: {type: string, format: date-time}
        duration: {type: integer, minimum: 0, description: Server-reported siren duration in seconds.}
        seconds_remaining: {type: integer, minimum: 0, description: Server-reported remaining siren time in seconds.}
      additionalProperties: true
    LegacySignalingTicket:
      type: object
      required: [ticket]
      properties:
        ticket: {type: string, minLength: 1}
      additionalProperties: true
    CapturedTickets:
      type: object
      required: [host, ticket]
      properties:
        host: {type: string}
        ticket: {type: string}
        subscriptionTopics: {type: array, items: {type: string}}
        assets: {type: array, items: {$ref: '#/components/schemas/JsonValue'}}
      additionalProperties: true
    TimelineEvent:
      type: object
      required: [event_id, start_time, event_type]
      properties:
        schema: {type: string}
        source_id: {type: string}
        event_id: {type: string}
        start_time: {type: string, format: date-time}
        end_time: {type: [string, 'null'], format: date-time}
        event_type: {type: string, description: Captured type is on_demand; other event kinds remain valid., x-extensible-enum: [on_demand]}
        state: {type: string, description: Captured event state is completed; other states remain valid., x-extensible-enum: [completed]}
        duration_ms: {type: integer, minimum: 0, description: Event duration in milliseconds.}
        is_favorite: {type: boolean}
        recording_status: {type: string, description: Captured recording status is ready; other statuses remain valid., x-extensible-enum: [ready]}
        device: {$ref: '#/components/schemas/TimelineDevice'}
      additionalProperties: true
    TimelineDevice:
      type: object
      properties:
        id: {type: integer, format: int64}
        description: {type: string}
        type: {type: string}
      additionalProperties: true
    DeviceTimeline:
      type: object
      required: [items]
      properties:
        items: {type: array, items: {$ref: '#/components/schemas/TimelineEvent'}}
        pagination_key: {type: [string, 'null']}
      additionalProperties: true
    HistoryDevices:
      type: object
      required: [events]
      properties:
        schema: {type: string}
        events: {type: array, items: {$ref: '#/components/schemas/TimelineEvent'}}
        feed: {type: array, items: {$ref: '#/components/schemas/HistoryFeedItem'}}
        pagination_key: {type: [string, 'null']}
      additionalProperties: true
    HistoryFeedItem:
      type: object
      properties:
        id: {type: string}
        type: {type: string, description: Captured feed item type is EVENT; other types remain valid., x-extensible-enum: [EVENT]}
      additionalProperties: true
    LocationGroupDevices:
      type: object
      required: [groups]
      properties:
        groups: {type: array, items: {$ref: '#/components/schemas/LocationGroup'}}
      additionalProperties: true
    LocationGroups:
      type: object
      properties:
        device_groups: {type: [array, 'null'], items: {$ref: '#/components/schemas/LocationGroup'}}
        is_owner: {type: boolean}
      additionalProperties: true
    LocationGroup:
      description: Group entries were empty or null in the capture; identity fields follow the baseline fixtures.
      type: object
      properties:
        id: {type: string}
        name: {type: string}
      additionalProperties: true
    LocationList:
      type: object
      required: [user_locations]
      properties:
        user_locations: {type: array, items: {$ref: '#/components/schemas/LocationSummary'}}
        location_operation_sets:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    LocationSummary:
      type: object
      required: [location_id, name]
      properties:
        location_id: {type: string}
        owner_id: {type: integer, format: int64}
        name: {type: string}
        geo_coordinates: {$ref: '#/components/schemas/GeoCoordinates'}
        address: {$ref: '#/components/schemas/LocationAddress'}
        is_owner: {type: boolean}
        location_type: {type: string}
      additionalProperties: true
    GeoCoordinates:
      type: object
      properties:
        latitude: {type: number}
        longitude: {type: number}
      additionalProperties: true
    LocationAddress:
      type: object
      properties:
        address1: {type: string}
        address2: {type: string}
        city: {type: string}
        state: {type: string}
        zip_code: {type: string}
        country: {type: string}
        timezone: {type: string}
      additionalProperties: true
    LocationDetail:
      type: object
      required: [data]
      properties:
        meta: {$ref: '#/components/schemas/LocationMeta'}
        data: {$ref: '#/components/schemas/LocationResource'}
        included: {type: array, items: {$ref: '#/components/schemas/LocationResource'}}
      additionalProperties: true
    LocationMeta:
      type: object
      properties:
        time: {type: string, format: date-time}
      additionalProperties: true
    LocationResource:
      type: object
      required: [type, id]
      properties:
        type: {type: string}
        id: {type: string}
        attributes: {$ref: '#/components/schemas/LocationAttributes'}
      additionalProperties: true
    LocationAttributes:
      type: object
      properties:
        name: {type: string}
        city: {type: string}
        country: {type: string}
        state: {type: string}
        latitude: {type: number}
        longitude: {type: number}
        time_zone: {type: string}
      additionalProperties: true
    JsonValue:
      description: Explicit escape hatch for fields without observed structure or typed error responses.
