openapi: 3.1.0
info:
  title: Ring captured HTTP surface
  version: 0.1.0
  description: >-
    Narrow contract for the HTTP operations currently represented by sanitized
    recordings. Schemas intentionally describe captured envelope and operation
    shapes; they do not claim complete coverage of Ring's evolving API.
servers:
  - url: https://api.ring.com
    description: Captured Ring API origin
paths:
  /device_info/v3/devices:
    get: {operationId: listDevices, responses: {'200': {$ref: '#/components/responses/Json'}}}
  /device_info/v3/devices/{device_id}:
    get: {operationId: getDevice, parameters: [{$ref: '#/components/parameters/device_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /devices/v1/devices/{device_id}/settings:
    get: {operationId: getDeviceSettings, parameters: [{$ref: '#/components/parameters/device_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
    patch: {operationId: patchDeviceSettings, parameters: [{$ref: '#/components/parameters/device_id'}], requestBody: {$ref: '#/components/requestBodies/Json'}, responses: {'200': {$ref: '#/components/responses/Json'}}}
  /evm/v2/timeline/devices/{device_id}:
    get: {operationId: getDeviceTimeline, parameters: [{$ref: '#/components/parameters/device_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /evm/v3/history/devices:
    get: {operationId: getHistoryDevices, responses: {'200': {$ref: '#/components/responses/Json'}}}
  /clients_api/doorbots/{device_id}/siren_on:
    put: {operationId: turnSirenOn, parameters: [{$ref: '#/components/parameters/device_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /clients_api/doorbots/{device_id}/siren_off:
    put: {operationId: turnSirenOff, parameters: [{$ref: '#/components/parameters/device_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /api/v1/clap/tickets:
    get:
      operationId: requestLocationTickets
      description: Captured location ticket request. Its relationship to the separate signaling ticket bootstrap is not established.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      responses: {'200': {$ref: '#/components/responses/Json'}}
  /commands/v1/devices/{device_id}:
    patch:
      operationId: sendDeviceCommand
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [command_name]
              properties: {command_name: {type: string, enum: [reboot]}}
      responses: {'204': {description: Command accepted; empty response}}
  /duos/v1/devices/{device_id}/update:
    put:
      operationId: setLiveViewEnabled
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity]
              properties:
                entity:
                  type: object
                  required: [live_view_enabled]
                  properties: {live_view_enabled: {type: boolean}}
      responses: {'204': {description: Setting accepted; empty response}}
  /groups/v1/locations/{location_id}/devices:
    get: {operationId: listLocationDevices, parameters: [{$ref: '#/components/parameters/location_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /groups/v1/locations/{location_id}/groups:
    get: {operationId: listLocationGroups, parameters: [{$ref: '#/components/parameters/location_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /location_info/v3/locations:
    get: {operationId: listLocations, responses: {'200': {$ref: '#/components/responses/Json'}}}
  /location_info/v4/locations/{location_id}:
    get: {operationId: getLocation, parameters: [{$ref: '#/components/parameters/location_id'}], responses: {'200': {$ref: '#/components/responses/Json'}}}
  /clients_api/dings/{recording_id}:
    delete: {operationId: deleteRecording, parameters: [{$ref: '#/components/parameters/recording_id'}], responses: {'204': {description: Recording deleted; empty response}}}
  /clients_api/dings/{recording_id}/favorite:
    put: {operationId: favoriteRecording, parameters: [{$ref: '#/components/parameters/recording_id'}], responses: {'201': {$ref: '#/components/responses/Json'}}}
components:
  parameters:
    device_id: {name: device_id, in: path, required: true, schema: {type: string}}
    location_id: {name: location_id, in: path, required: true, schema: {type: string}}
    recording_id: {name: recording_id, in: path, required: true, schema: {type: string}}
  requestBodies:
    Json: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
  responses:
    Json: {description: Captured JSON response, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
  schemas:
    JsonValue: {description: Operation-specific captured JSON; see the corresponding sanitized recording, oneOf: [{type: object}, {type: array}, {type: string}, {type: number}, {type: boolean}, {type: 'null'}]}
