openapi: 3.1.0
info:
  title: Ring HTTP SDK and captured surface
  version: 0.1.0
  description: >-
    Contract for sanitized captures and existing Go SDK HTTP behavior. Each
    operation identifies whether its source is a capture, Go implementation, or
    pinned Python reference. It does not claim complete coverage of Ring's
    evolving API. Query parameters are optional unless a capture or existing
    implementation establishes otherwise.
servers:
  - url: https://api.ring.com
    description: Captured Ring API origin
security:
  - RingAccessToken: []
paths:
  /oauth/v2/authorize:
    get:
      operationId: beginOrContinueOAuthAuthorization
      description: >-
        Existing Go PKCE flow. The first request sends the authorization query
        parameters; later requests reuse the cookie-backed session and may omit
        them. Redirect state is checked by the client. This route is not present
        in the C1 HTTP captures.
      servers: [{url: https://oauth.ring.com}]
      security: []
      parameters:
        - {name: redirect_uri, in: query, required: false, schema: {type: string, format: uri}}
        - {name: client_id, in: query, required: false, schema: {type: string}}
        - {name: response_type, in: query, required: false, schema: {type: string, enum: [code]}}
        - {name: prompt, in: query, required: false, schema: {type: string}}
        - {name: state, in: query, required: false, schema: {type: string}}
        - {name: scope, in: query, required: false, schema: {type: string}}
        - {name: code_challenge, in: query, required: false, schema: {type: string}}
        - {name: code_challenge_method, in: query, required: false, schema: {type: string, enum: [S256]}}
        - {name: device_model, in: query, required: false, schema: {type: string}}
        - {name: app_version, in: query, required: false, schema: {type: string}}
        - {name: dark_mode, in: query, required: false, schema: {type: string}}
        - {name: device_brand, in: query, required: false, schema: {type: string}}
        - {name: device_os_version, in: query, required: false, schema: {type: string}}
        - {name: app_brand, in: query, required: false, schema: {type: string}}
        - {name: hardware_id, in: query, required: false, schema: {type: string}}
      responses:
        '200':
          description: Sign-in page
          content:
            text/html:
              schema: {type: string}
        '302': {$ref: '#/components/responses/OAuthRedirect'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/v2/signin:
    post:
      operationId: submitOAuthCredentials
      description: >-
        Existing Go PKCE credential submission using the OAuth cookie jar and
        CSRF token. Python auth is the behavioral reference. Credentials are
        form data, never query parameters. No C1 capture establishes this flow.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/SignInForm'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        '302': {$ref: '#/components/responses/OAuthRedirect'}
        '412': {$ref: '#/components/responses/TwoFactorRequired'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/v2/2fa/verify:
    post:
      operationId: verifyOAuthTwoFactorCode
      description: Existing Go PKCE verification request; uses the same cookie-backed session. No C1 capture.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/TwoFactorForm'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        '201': {$ref: '#/components/responses/Json'}
        '400': {$ref: '#/components/responses/AuthFailure'}
        '401': {$ref: '#/components/responses/AuthFailure'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/token:
    post:
      operationId: exchangeOrRefreshOAuthToken
      description: >-
        Existing Go authorization-code PKCE exchange and explicit refresh;
        legacy password grant remains a fallback only when the OAuth authorize
        endpoint is unavailable. There is no captured OAuth token exchange.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/OAuthTokenGrant'}
      responses:
        '200': {$ref: '#/components/responses/OAuthToken'}
        '400': {$ref: '#/components/responses/AuthFailure'}
        '401': {$ref: '#/components/responses/AuthFailure'}
        '412': {$ref: '#/components/responses/TwoFactorRequired'}
        '429': {$ref: '#/components/responses/RateLimited'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /clients_api/session:
    post:
      operationId: registerClientSession
      description: >-
        Existing Go session-registration body, sent once before inventory or
        signaling when a hardware ID is configured. Python exposes the same
        session action. The shape below follows source code; no C1 capture was
        identified.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ClientSessionRegistration'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/chimes/{device_id}:
    put:
      operationId: setChimeVolume
      description: Legacy Python/Go volume update; the query shape is synthetic replay evidence, not a C1 capture.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: 'chime[description]', required: true, schema: {type: string}}
        - {in: query, name: 'chime[settings][volume]', required: true, schema: {type: integer, minimum: 0, maximum: 11}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}:
    put:
      operationId: updateLegacyDoorbotControls
      description: >-
        Legacy Python/Go doorbell-volume or one in-home chime setting; query
        variants come from portable synthetic fixtures, not a C1 field capture.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: 'doorbot[description]', required: true, schema: {type: string}}
        - {in: query, name: 'doorbot[settings][doorbell_volume]', schema: {type: integer, minimum: 0, maximum: 11}}
        - {in: query, name: 'doorbot[settings][chime_settings][type]', schema: {type: integer}}
        - {in: query, name: 'doorbot[settings][chime_settings][enable]', schema: {type: integer, enum: [0, 1]}}
        - {in: query, name: 'doorbot[settings][chime_settings][duration]', schema: {type: integer, minimum: 0}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/chimes/{device_id}/play_sound:
    post:
      operationId: testChimeSound
      description: Python/Go legacy sound request from portable synthetic replay.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: kind, required: true, schema: {type: string, enum: [ding, motion]}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}/floodlight_light_on:
    put:
      operationId: turnFloodlightOn
      description: Python/Go legacy light-on request from portable synthetic replay.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}/floodlight_light_off:
    put:
      operationId: turnFloodlightOff
      description: Python/Go legacy off path; no corresponding C1 or portable request fixture.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/ring_devices/{device_id}/health:
    get:
      operationId: getLegacyDeviceHealth
      description: >-
        Existing Go GetDeviceHealth route. Python uses family-specific doorbot
        and chime health routes. The captured HTTP set has no matching health
        response; SDK tests use local fixtures only.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses:
        '200': {$ref: '#/components/responses/Json'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/doorbots/{device_id}/history:
    get:
      operationId: getLegacyDeviceHistory
      description: >-
        Existing Go history operation and pinned Python doorbell history share
        this doorbot path. The Go API exposes limit and kind; Python additionally
        supports older_than and client-side enforcement/retries. C1 history
        routes use EVM endpoints and are specified separately.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {$ref: '#/components/parameters/limit'}
        - {$ref: '#/components/parameters/kind'}
        - {$ref: '#/components/parameters/older_than'}
      responses:
        '200': {$ref: '#/components/responses/RecordingArray'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/active:
    get:
      operationId: getActiveDings
      description: Existing Go and Python active-dings route. No matching C1 capture was identified.
      responses:
        '200': {$ref: '#/components/responses/RecordingArray'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/{recording_id}/recording:
    get:
      operationId: streamRecording
      description: >-
        Existing Go method returns the response body as a streaming VideoStream;
        the caller owns and must close Body. It requests video/mp4 and does not
        buffer the media. Go's default http.Client follows redirects according
        to its CheckRedirect policy; a custom client may change that behavior.
        No sanitized recording response establishes redirect or media-host
        details.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses:
        '200':
          description: Video stream; body remains open for the caller to consume and close.
          content:
            video/mp4:
              schema: {type: string, format: binary}
        '302':
          description: Possible upstream redirect if exposed by the configured HTTP client; not established by local recordings.
          headers:
            Location: {schema: {type: string, format: uri-reference}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/{recording_id}/share/play:
    get:
      operationId: getLegacyRecordingShareURL
      description: Pinned Python legacy share/play response, replayed synthetically by Go; no matching C1 response.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses:
        '200':
          description: Playback share URL
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecordingShare'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /device_info/v3/devices:
    get:
      operationId: listDevices
      responses: {'200': {$ref: '#/components/responses/DeviceList'}}
  /device_info/v3/devices/{device_id}:
    get:
      operationId: getDevice
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/DeviceDetail'}}
  /devices/v1/devices/{device_id}/settings:
    get:
      operationId: getDeviceSettings
      parameters: [{$ref: '#/components/parameters/device_id'}]
      description: Captured response is extensible; typed Go API exposes motion_detection_enabled only.
      responses: {'200': {$ref: '#/components/responses/DeviceSettings'}}
    patch:
      operationId: patchDeviceSettings
      parameters: [{$ref: '#/components/parameters/device_id'}]
      description: >-
        The wire schema accepts all captured settings patches. The typed Go
        API currently sends only motion_settings.motion_detection_enabled.
      requestBody: {$ref: '#/components/requestBodies/DeviceSettingsPatch'}
      responses: {'200': {$ref: '#/components/responses/DeviceSettings'}}
  /evm/v2/timeline/devices/{device_id}:
    get:
      operationId: getDeviceTimeline
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {$ref: '#/components/parameters/start_time'}
        - {$ref: '#/components/parameters/end_time'}
        - {$ref: '#/components/parameters/order'}
        - {$ref: '#/components/parameters/limit'}
        - {$ref: '#/components/parameters/capabilities'}
      responses: {'200': {$ref: '#/components/responses/DeviceTimeline'}}
  /evm/v3/history/devices:
    get:
      operationId: getHistoryDevices
      parameters:
        - {$ref: '#/components/parameters/source_ids'}
        - {$ref: '#/components/parameters/capabilities'}
      responses: {'200': {$ref: '#/components/responses/HistoryDevices'}}
  /clients_api/doorbots/{device_id}/siren_on:
    put:
      operationId: turnSirenOn
      parameters: [{$ref: '#/components/parameters/device_id'}]
      description: No duration query or request body is present in the capture.
      responses: {'200': {$ref: '#/components/responses/SirenOn'}}
  /clients_api/doorbots/{device_id}/siren_off:
    put:
      operationId: turnSirenOff
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {description: Siren stopped; empty captured response}}
  /clients_api/snapshots/timestamps:
    post:
      operationId: refreshLegacySnapshotTimestamp
      description: >-
        Pinned Python legacy snapshot trigger and poll. The first response may
        omit timestamps. This contract comes from shared synthetic replay, not
        the C1 app-snaps request with missing response.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SnapshotTimestampRequest'}
      responses:
        '200':
          description: Optional timestamp for the requested snapshot
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SnapshotTimestampResponse'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/snapshots/image/{device_id}:
    get:
      operationId: getLegacySnapshotImage
      description: Pinned Python legacy image download after a newer timestamp appears; response shape is synthetic replay evidence.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses:
        '200':
          description: Snapshot image bytes
          content:
            image/jpeg: {schema: {type: string, format: binary}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /api/v1/clap/tickets:
    get:
      operationId: getCapturedLocationTickets
      description: >-
        Captured GET route. Its relationship to the existing POST signaling
        bootstrap below is not established.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      parameters:
        - {$ref: '#/components/parameters/allowUserOnly'}
        - {$ref: '#/components/parameters/locationID'}
        - {$ref: '#/components/parameters/locationSubscription'}
        - {$ref: '#/components/parameters/enableExtendedEmergencyCellUsage'}
        - {$ref: '#/components/parameters/requestedTransport'}
      responses: {'200': {$ref: '#/components/responses/CapturedTickets'}}
  /api/v1/clap/ticket/request/signalsocket:
    post:
      operationId: requestLegacySignalingTicket
      description: >-
        Existing Go signaling bootstrap. This POST route is implemented and
        covered by local tests, but was not found in the C1 HTTP recordings.
        It is distinct from the captured GET /api/v1/clap/tickets operation.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      responses: {'200': {$ref: '#/components/responses/LegacySignalingTicket'}}
  /commands/v1/devices/{device_id}:
    patch:
      operationId: sendDeviceCommand
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/DeviceCommand'}
      responses: {'204': {description: Command accepted; empty response}}
  /duos/v1/devices/{device_id}/update:
    put:
      operationId: setLiveViewEnabled
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LiveViewSettingRequest'}
      responses: {'204': {description: Setting accepted; empty response}}
  /groups/v1/locations/{location_id}/devices:
    get:
      operationId: listLocationDevices
      parameters: [{$ref: '#/components/parameters/location_id'}]
      responses: {'200': {$ref: '#/components/responses/LocationGroupDevices'}}
  /groups/v1/locations/{location_id}/groups:
    get:
      operationId: listLocationGroups
      parameters: [{$ref: '#/components/parameters/location_id'}]
      responses: {'200': {$ref: '#/components/responses/LocationGroups'}}
  /location_info/v3/locations:
    get:
      operationId: listLocations
      responses: {'200': {$ref: '#/components/responses/LocationList'}}
  /location_info/v4/locations/{location_id}:
    get:
      operationId: getLocation
      parameters:
        - {$ref: '#/components/parameters/location_id'}
        - {$ref: '#/components/parameters/include'}
      responses: {'200': {$ref: '#/components/responses/LocationDetail'}}
  /clients_api/dings/{recording_id}:
    delete:
      operationId: deleteRecording
      parameters:
        - {$ref: '#/components/parameters/recording_id'}
        - {$ref: '#/components/parameters/confirm_delete_favorite'}
      responses: {'204': {description: Recording deleted; empty response}}
  /clients_api/dings/{recording_id}/favorite:
    put:
      operationId: favoriteRecording
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses: {'201': {description: Recording favorited; empty captured response}}
components:
  securitySchemes:
    RingAccessToken:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
      description: >-
        Existing Go HTTP calls send Authorization: Bearer using the configured
        access token or token getter. The library also retains its existing
        username/password and refresh-token authentication flows. These
        recordings do not capture OAuth token exchange, so no grant flow or
        token lifetime is specified here.
  parameters:
    device_id: {name: device_id, in: path, required: true, schema: {type: string}}
    location_id: {name: location_id, in: path, required: true, schema: {type: string}}
    recording_id: {name: recording_id, in: path, required: true, schema: {type: string}}
    start_time: {name: start_time, in: query, required: false, description: Observed query name; requiredness is not established., schema: {type: string}}
    end_time: {name: end_time, in: query, required: false, description: Observed query name; requiredness is not established., schema: {type: string}}
    order: {name: order, in: query, required: false, description: Observed query name; value shown is desc., schema: {type: string}}
    limit: {name: limit, in: query, required: false, description: Observed query name; value shown is 20 in a capture., schema: {type: integer}}
    capabilities: {name: capabilities, in: query, required: false, description: Observed on timeline and history-device requests; cardinality is not established., schema: {type: string}}
    source_ids: {name: source_ids, in: query, required: false, description: Observed query name; value is sanitized in the capture., schema: {type: string}}
    allowUserOnly: {name: allowUserOnly, in: query, required: false, schema: {type: string}}
    locationID: {name: locationID, in: query, required: false, schema: {type: string}}
    locationSubscription: {name: locationSubscription, in: query, required: false, schema: {type: string}}
    enableExtendedEmergencyCellUsage: {name: enableExtendedEmergencyCellUsage, in: query, required: false, schema: {type: string}}
    requestedTransport: {name: requestedTransport, in: query, required: false, schema: {type: string}}
    include: {name: include, in: query, required: false, description: Observed comma-separated value; accepted values are not exhaustively established., schema: {type: string}}
    confirm_delete_favorite: {name: confirm_delete_favorite, in: query, required: false, description: Observed value is false; server-side requiredness is not established., schema: {type: string}}
    kind: {name: kind, in: query, required: false, description: Go forwards this value without restricting it; Python filters returned entries client-side., schema: {type: string}}
    older_than: {name: older_than, in: query, required: false, description: Supported by the pinned Python history helper; not currently sent by Go., schema: {type: integer}}
  requestBodies:
    Json: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
    DeviceSettingsPatch:
      required: true
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceSettingsPatch'}
    ExtensibleObject:
      required: true
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ExtensibleObject'}
  responses:
    DeviceList:
      description: Captured v3 inventory; device-specific fields remain extensible
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceList'}
    DeviceDetail:
      description: Captured v3 detail envelope
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceDetail'}
    DeviceSettings:
      description: Captured settings object; unclassified fields are preserved as extensible JSON values
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceSettings'}
    DeviceTimeline: {description: Captured device timeline, content: {application/json: {schema: {$ref: '#/components/schemas/DeviceTimeline'}}}}
    HistoryDevices: {description: Captured account history, content: {application/json: {schema: {$ref: '#/components/schemas/HistoryDevices'}}}}
    CapturedTickets: {description: Captured GET ticket profile, content: {application/json: {schema: {$ref: '#/components/schemas/CapturedTickets'}}}}
    LegacySignalingTicket: {description: Legacy POST signaling ticket, content: {application/json: {schema: {$ref: '#/components/schemas/LegacySignalingTicket'}}}}
    LocationGroupDevices: {description: Captured group-device envelope, content: {application/json: {schema: {$ref: '#/components/schemas/LocationGroupDevices'}}}}
    LocationGroups: {description: Captured location groups, content: {application/json: {schema: {$ref: '#/components/schemas/LocationGroups'}}}}
    LocationList: {description: Captured locations, content: {application/json: {schema: {$ref: '#/components/schemas/LocationList'}}}}
    LocationDetail: {description: Captured location detail, content: {application/json: {schema: {$ref: '#/components/schemas/LocationDetail'}}}}
    SirenOn:
      description: Captured server status; the request does not set its duration
      content:
        application/json:
          schema: {$ref: '#/components/schemas/SirenStatus'}
    OAuthToken:
      description: Existing Go token response shape; no matching C1 OAuth capture
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthToken'}
    OAuthRedirect:
      description: OAuth navigation response; the client checks returned state
      headers:
        Location: {required: true, schema: {type: string, format: uri-reference}}
    TwoFactorRequired:
      description: OAuth server requests or rejects a two-factor verification step
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    RateLimited:
      description: OAuth server rate-limited a request
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    AuthFailure:
      description: Authentication failure response mapped to an SDK authentication error
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    HTTPFailure:
      description: Existing Go methods map non-2xx API responses to HTTPError; not a captured error contract
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    RecordingArray:
      description: Legacy recording list; Go decodes a JSON array directly
      content:
        application/json:
          schema:
            type: array
            items: {$ref: '#/components/schemas/Recording'}
    Json: {description: Captured JSON response, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
  schemas:
    SignInForm:
      type: object
      required: [username, password, csrf-token]
      properties:
        username: {type: string}
        password: {type: string, format: password}
        csrf-token: {type: string}
    TwoFactorForm:
      type: object
      required: [2fa_code, csrf-token, remember_me]
      properties:
        2fa_code: {type: string}
        csrf-token: {type: string}
        remember_me: {type: string, enum: ['false']}
    RecordingShare:
      type: object
      required: [url]
      properties:
        url: {type: string, format: uri}
    SnapshotTimestampRequest:
      type: object
      required: [doorbot_ids]
      properties:
        doorbot_ids: {type: array, minItems: 1, items: {type: integer, minimum: 1}}
    SnapshotTimestampResponse:
      type: object
      properties:
        timestamps: {type: array, items: {$ref: '#/components/schemas/SnapshotTimestamp'}}
    SnapshotTimestamp:
      type: object
      required: [timestamp]
      properties:
        timestamp: {type: integer, format: int64}
    DeviceCommand:
      type: object
      required: [command_name]
      properties:
        command_name: {type: string, enum: [reboot]}
    LiveViewSettingRequest:
      type: object
      required: [entity]
      properties:
        entity: {$ref: '#/components/schemas/LiveViewSetting'}
    LiveViewSetting:
      type: object
      required: [live_view_enabled]
      properties:
        live_view_enabled: {type: boolean}
    OAuthTokenGrant:
      description: >-
        Form variants currently used by Go: authorization-code PKCE, explicit
        refresh, and the compatibility password grant fallback.
      oneOf:
        - {$ref: '#/components/schemas/AuthorizationCodeGrant'}
        - {$ref: '#/components/schemas/RefreshTokenGrant'}
        - {$ref: '#/components/schemas/LegacyPasswordGrant'}
    AuthorizationCodeGrant:
      type: object
      required: [grant_type, code, redirect_uri, code_verifier, client_id]
      properties:
        grant_type: {type: string, const: authorization_code}
        code: {type: string}
        redirect_uri: {type: string, format: uri}
        code_verifier: {type: string}
        client_id: {type: string}
      additionalProperties: false
    RefreshTokenGrant:
      type: object
      required: [grant_type, refresh_token, client_id, scope]
      properties:
        grant_type: {type: string, const: refresh_token}
        refresh_token: {type: string}
        client_id: {type: string}
        scope: {type: string}
      additionalProperties: false
    LegacyPasswordGrant:
      type: object
      required: [grant_type, username, password, client_id, scope]
      properties:
        grant_type: {type: string, const: password}
        username: {type: string}
        password: {type: string, format: password}
        client_id: {type: string}
        scope: {type: string}
      additionalProperties: false
    OAuthToken:
      type: object
      required: [access_token, token_type]
      properties:
        access_token: {type: string}
        refresh_token: {type: string}
        expires_in: {type: integer}
        token_type: {type: string}
        scope: {type: string}
      additionalProperties: true
    ClientSessionRegistration:
      type: object
      required: [device]
      properties:
        device:
          type: object
          required: [hardware_id, metadata, os]
          properties:
            hardware_id: {type: string}
            metadata:
              type: object
              required: [api_version, device_model]
              properties:
                api_version: {type: integer, const: 11}
                device_model: {type: string}
              additionalProperties: true
            os: {type: string, const: android}
          additionalProperties: true
      additionalProperties: true
    Recording:
      type: object
      required: [id, kind, answered, created_at, doorbot]
      properties:
        id: {type: integer}
        kind: {type: string}
        answered: {type: boolean}
        created_at: {type: string}
        doorbot:
          type: object
          required: [id]
          properties: {id: {type: integer}}
          additionalProperties: true
      additionalProperties: true
    ExtensibleObject:
      type: object
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    DeviceList:
      type: object
      required: [devices]
      properties:
        devices: {type: array, items: {$ref: '#/components/schemas/Device'}}
        device_operation_sets:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    DeviceDetail:
      type: object
      required: [device]
      properties:
        device: {$ref: '#/components/schemas/Device'}
        device_operation_set:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    Device:
      description: Shared captured inventory/detail shape; unknown hardware fields remain open.
      type: object
      required: [id, kind, description]
      properties:
        id: {type: integer, format: int64}
        device_id: {type: string}
        kind: {type: string}
        description: {type: string}
        location_id: {type: string}
        family: {type: string, description: Python legacy devices may include family; absent in the v3 capture.}
        owned: {type: boolean}
        created_at: {type: string, format: date-time}
        deactivated_at: {type: [string, 'null'], format: date-time}
        operation_set: {type: string}
        owner: {$ref: '#/components/schemas/DeviceOwner'}
        health: {$ref: '#/components/schemas/DeviceHealth'}
        features: {$ref: '#/components/schemas/DeviceFeatures'}
        settings: {$ref: '#/components/schemas/DeviceLegacySettings'}
      additionalProperties: true
    DeviceOwner:
      type: object
      properties:
        id: {type: integer, format: int64}
        first_name: {type: string}
        last_name: {type: string}
        email: {type: string}
      additionalProperties: true
    DeviceHealth:
      type: object
      properties:
        connected: {type: boolean}
        rssi: {type: number}
        ptz_connected: {type: [string, 'null']}
        supported_rpc_commands: {type: array, items: {type: string}}
        firmware_version: {type: string}
        battery_percentage_category: {type: string}
      additionalProperties: true
    DeviceFeatures:
      type: object
      properties:
        auto_track: {$ref: '#/components/schemas/FeatureAvailability'}
        auto_zoom_track:
          anyOf:
            - {$ref: '#/components/schemas/FeatureAvailability'}
            - {type: 'null'}
        video_rendering: {$ref: '#/components/schemas/VideoRenderingFeature'}
        motions_enabled: {type: boolean}
      additionalProperties: true
    FeatureAvailability:
      type: object
      properties:
        eligibility: {$ref: '#/components/schemas/FeatureEligibility'}
        enablement: {$ref: '#/components/schemas/FeatureEnablement'}
      additionalProperties: true
    FeatureEligibility:
      type: object
      properties:
        eligible: {type: boolean}
        ineligibility_reasons: {type: array, items: {type: string}}
      additionalProperties: true
    FeatureEnablement:
      type: object
      properties:
        allowed: {type: boolean}
        enabled: {type: boolean}
        disallow_reasons: {type: array, items: {type: string}}
      additionalProperties: true
    VideoRenderingFeature:
      type: object
      properties:
        max_digital_zoom_level: {type: number}
      additionalProperties: true
    DeviceLegacySettings:
      type: object
      properties:
        motion_detection_enabled: {type: boolean}
        doorbell_volume: {type: integer}
        live_view_disabled: {type: boolean}
      additionalProperties: true
    DeviceOperationSet:
      description: Operation names are dynamic; captured entries are empty capability descriptors.
      type: object
      additionalProperties: {type: object, additionalProperties: true}
    DeviceSettings:
      type: object
      properties:
        motion_settings:
          anyOf:
            - {$ref: '#/components/schemas/MotionSettings'}
            - {type: 'null'}
        ptz_settings: {$ref: '#/components/schemas/PTZSettings'}
        video_settings: {$ref: '#/components/schemas/VideoSettings'}
        volume_settings: {$ref: '#/components/schemas/VolumeSettings'}
        chime_settings: {$ref: '#/components/schemas/ChimeSettings'}
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    MotionSettings:
      type: object
      properties:
        motion_detection_enabled: {type: [boolean, 'null']}
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    PTZSettings:
      type: object
      properties:
        mode: {type: string}
        auto_scan: {$ref: '#/components/schemas/PTZAutoScan'}
        pan_settings: {$ref: '#/components/schemas/PTZAxisSettings'}
        tilt_settings: {$ref: '#/components/schemas/PTZAxisSettings'}
      additionalProperties: true
    PTZAutoScan:
      type: object
      properties:
        pause_ms: {type: integer}
        step_size: {type: number}
      additionalProperties: true
    PTZAxisSettings:
      type: object
      properties:
        movement: {$ref: '#/components/schemas/PTZMovement'}
        positions: {$ref: '#/components/schemas/PTZPositions'}
      additionalProperties: true
    PTZMovement:
      type: object
      properties:
        max_acceleration: {type: number}
        max_speed: {type: number}
        step_size: {type: number}
      additionalProperties: true
    PTZPositions:
      type: object
      properties:
        default: {type: number}
        max: {type: number}
        min: {type: number}
      additionalProperties: true
    VideoSettings:
      type: object
      properties:
        hdr_enable: {type: boolean}
        hevc_enabled: {type: boolean}
        brightness: {type: integer}
        clip_length_max: {type: integer}
        clip_length_min: {type: integer}
      additionalProperties: true
    VolumeSettings:
      type: object
      properties:
        doorbell_volume: {type: integer}
        mic_volume: {type: integer}
        voice_volume: {type: integer}
      additionalProperties: true
    ChimeSettings:
      type: object
      properties:
        duration: {type: integer}
        enable: {type: boolean}
        type: {type: integer}
      additionalProperties: true
    DeviceSettingsPatch:
      type: object
      minProperties: 1
      description: >-
        Extensible wire patch. Captured variants include motion_settings,
        video_settings, general_settings, and volume_settings. The public typed
        Go method currently emits motion_settings only.
      properties:
        motion_settings: {$ref: '#/components/schemas/MotionSettingsPatch'}
        video_settings: {$ref: '#/components/schemas/SettingsObject'}
        general_settings: {$ref: '#/components/schemas/SettingsObject'}
        volume_settings: {$ref: '#/components/schemas/SettingsObject'}
      additionalProperties: {$ref: '#/components/schemas/SettingsObject'}
    MotionSettingsPatch:
      type: object
      properties:
        motion_detection_enabled: {type: boolean}
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    SettingsObject:
      type: object
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    SirenStatus:
      type: object
      required: [started_at, ends_at, duration, seconds_remaining]
      properties:
        started_at: {type: string, format: date-time}
        ends_at: {type: string, format: date-time}
        duration: {type: integer}
        seconds_remaining: {type: integer}
      additionalProperties: true
    LegacySignalingTicket:
      type: object
      required: [ticket]
      properties:
        ticket: {type: string, minLength: 1}
      additionalProperties: true
    CapturedTickets:
      type: object
      required: [host, ticket]
      properties:
        host: {type: string}
        ticket: {type: string}
        subscriptionTopics: {type: array, items: {type: string}}
        assets: {type: array, items: {$ref: '#/components/schemas/JsonValue'}}
      additionalProperties: true
    TimelineEvent:
      type: object
      required: [event_id, start_time, event_type]
      properties:
        schema: {type: string}
        source_id: {type: string}
        event_id: {type: string}
        start_time: {type: string, format: date-time}
        end_time: {type: [string, 'null'], format: date-time}
        event_type: {type: string}
        state: {type: string}
        duration_ms: {type: integer}
        is_favorite: {type: boolean}
        recording_status: {type: string}
        device: {$ref: '#/components/schemas/TimelineDevice'}
      additionalProperties: true
    TimelineDevice:
      type: object
      properties:
        id: {type: integer, format: int64}
        description: {type: string}
        type: {type: string}
      additionalProperties: true
    DeviceTimeline:
      type: object
      required: [items]
      properties:
        items: {type: array, items: {$ref: '#/components/schemas/TimelineEvent'}}
        pagination_key: {type: [string, 'null']}
      additionalProperties: true
    HistoryDevices:
      type: object
      required: [events]
      properties:
        schema: {type: string}
        events: {type: array, items: {$ref: '#/components/schemas/TimelineEvent'}}
        feed: {type: array, items: {$ref: '#/components/schemas/HistoryFeedItem'}}
        pagination_key: {type: [string, 'null']}
      additionalProperties: true
    HistoryFeedItem:
      type: object
      properties:
        id: {type: string}
        type: {type: string}
      additionalProperties: true
    LocationGroupDevices:
      type: object
      required: [groups]
      properties:
        groups: {type: array, items: {$ref: '#/components/schemas/LocationGroup'}}
      additionalProperties: true
    LocationGroups:
      type: object
      properties:
        device_groups: {type: [array, 'null'], items: {$ref: '#/components/schemas/LocationGroup'}}
        is_owner: {type: boolean}
      additionalProperties: true
    LocationGroup:
      description: Group entries were empty or null in the capture; identity fields follow the Python group baseline.
      type: object
      properties:
        id: {type: string}
        name: {type: string}
      additionalProperties: true
    LocationList:
      type: object
      required: [user_locations]
      properties:
        user_locations: {type: array, items: {$ref: '#/components/schemas/LocationSummary'}}
        location_operation_sets:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    LocationSummary:
      type: object
      required: [location_id, name]
      properties:
        location_id: {type: string}
        owner_id: {type: integer, format: int64}
        name: {type: string}
        geo_coordinates: {$ref: '#/components/schemas/GeoCoordinates'}
        address: {$ref: '#/components/schemas/LocationAddress'}
        is_owner: {type: boolean}
        location_type: {type: string}
      additionalProperties: true
    GeoCoordinates:
      type: object
      properties:
        latitude: {type: number}
        longitude: {type: number}
      additionalProperties: true
    LocationAddress:
      type: object
      properties:
        address1: {type: string}
        address2: {type: string}
        city: {type: string}
        state: {type: string}
        zip_code: {type: string}
        country: {type: string}
        timezone: {type: string}
      additionalProperties: true
    LocationDetail:
      type: object
      required: [data]
      properties:
        meta: {$ref: '#/components/schemas/LocationMeta'}
        data: {$ref: '#/components/schemas/LocationResource'}
        included: {type: array, items: {$ref: '#/components/schemas/LocationResource'}}
      additionalProperties: true
    LocationMeta:
      type: object
      properties:
        time: {type: string, format: date-time}
      additionalProperties: true
    LocationResource:
      type: object
      required: [type, id]
      properties:
        type: {type: string}
        id: {type: string}
        attributes: {$ref: '#/components/schemas/LocationAttributes'}
      additionalProperties: true
    LocationAttributes:
      type: object
      properties:
        name: {type: string}
        city: {type: string}
        country: {type: string}
        state: {type: string}
        latitude: {type: number}
        longitude: {type: number}
        time_zone: {type: string}
      additionalProperties: true
    JsonValue:
      description: Explicit escape hatch for fields without observed structure or typed error responses.
