openapi: 3.1.0
info:
  title: Ring API
  version: 0.3.0
  description: >-
    HTTP endpoints for Ring account authentication, devices, settings, recordings,
    locations, notifications, and signaling. The contract describes documented
    behavior and is not a complete specification of Ring’s evolving API.
servers:
  - url: https://api.ring.com
    description: Ring API endpoint
security:
  - RingAccessToken: []
tags:
  - name: Authentication
    description: OAuth sign-in and token operations.
  - name: Sessions
    description: Client session registration.
  - name: Devices
    description: Device inventory and health.
  - name: Device Settings
    description: Read and update device configuration.
  - name: Device Controls
    description: Device actions and controls.
  - name: Device History
    description: Device timelines and event history.
  - name: Recordings
    description: Recording discovery, playback, and management.
  - name: Snapshots
    description: Device snapshot requests and images.
  - name: Signaling
    description: Connection tickets and signaling setup.
  - name: Locations
    description: Location inventory and details.
  - name: Notifications
    description: Push notification registration and subscriptions.
paths:
  /oauth/v2/authorize:
    get:
      operationId: beginOrContinueOAuthAuthorization
      summary: Start or continue OAuth sign-in
      tags: [Authentication]
      description: Starts an OAuth authorization session and requests an authorization code. Redirects may continue an existing sign-in session.
      servers: [{url: https://oauth.ring.com}]
      security: []
      parameters:
        - {name: redirect_uri, in: query, required: false, schema: {type: string, format: uri}}
        - {name: client_id, in: query, required: false, schema: {type: string}}
        - {name: response_type, in: query, required: false, schema: {type: string, enum: [code]}}
        - {name: prompt, in: query, required: false, description: The implemented PKCE flow sends login; other OAuth prompts may exist., schema: {type: string, x-extensible-enum: [login]}}
        - {name: state, in: query, required: false, schema: {type: string}}
        - {name: scope, in: query, required: false, description: The implemented client requests the client scope., schema: {type: string, x-extensible-enum: [client]}}
        - {name: code_challenge, in: query, required: false, schema: {type: string}}
        - {name: code_challenge_method, in: query, required: false, schema: {type: string, enum: [S256]}}
        - {name: device_model, in: query, required: false, schema: {type: string}}
        - {name: app_version, in: query, required: false, schema: {type: string}}
        - {name: dark_mode, in: query, required: false, description: Boolean serialized as a query string., schema: {type: boolean}}
        - {name: device_brand, in: query, required: false, schema: {type: string}}
        - {name: device_os_version, in: query, required: false, schema: {type: string}}
        - {name: app_brand, in: query, required: false, schema: {type: string}}
        - {name: hardware_id, in: query, required: false, schema: {type: string}}
      responses:
        '200':
          description: Sign-in page
          content:
            text/html:
              schema: {type: string}
        '302': {$ref: '#/components/responses/OAuthRedirect'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/v2/signin:
    post:
      operationId: submitOAuthCredentials
      summary: Submit OAuth credentials
      tags: [Authentication]
      description: Submits sign-in credentials to continue OAuth authorization. The response may indicate that a two-factor code is required.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/SignInForm'}
      responses:
        '200': {description: Credential submission state, content: {application/json: {schema: {$ref: '#/components/schemas/SignInState'}}}}
        '302': {$ref: '#/components/responses/OAuthRedirect'}
        '412': {$ref: '#/components/responses/TwoFactorRequired'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/v2/2fa/verify:
    post:
      operationId: verifyOAuthTwoFactorCode
      summary: Verify an OAuth two-factor code
      tags: [Authentication]
      description: Submits a two-factor authentication code to complete OAuth sign-in.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/TwoFactorForm'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        '201': {$ref: '#/components/responses/Json'}
        '400': {$ref: '#/components/responses/AuthFailure'}
        '401': {$ref: '#/components/responses/AuthFailure'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /oauth/token:
    post:
      operationId: exchangeOrRefreshOAuthToken
      summary: Exchange or refresh an OAuth token
      tags: [Authentication]
      description: Exchanges an authorization grant for access tokens or refreshes an existing token.
      servers: [{url: https://oauth.ring.com}]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema: {$ref: '#/components/schemas/OAuthTokenGrant'}
      responses:
        '200': {$ref: '#/components/responses/OAuthToken'}
        '400': {$ref: '#/components/responses/AuthFailure'}
        '401': {$ref: '#/components/responses/AuthFailure'}
        '412': {$ref: '#/components/responses/TwoFactorRequired'}
        '429': {$ref: '#/components/responses/RateLimited'}
        default: {$ref: '#/components/responses/AuthFailure'}
  /clients_api/session:
    post:
      operationId: registerClientSession
      summary: Register a client session
      tags: [Sessions]
      description: Registers a client session that can be used for device inventory and signaling requests.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ClientSessionRegistration'}
      responses:
        '200': {$ref: '#/components/responses/Json'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/chimes/{device_id}:
    put:
      operationId: setChimeVolume
      summary: Set chime volume
      tags: [Device Controls]
      description: Changes a chime device’s playback volume.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: 'chime[description]', required: true, schema: {type: string}}
        - {in: query, name: 'chime[settings][volume]', required: true, schema: {type: integer, minimum: 0, maximum: 11}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}:
    put:
      operationId: updateLegacyDoorbotControls
      summary: Update doorbell and chime settings
      tags: [Device Controls]
      description: Changes supported doorbell volume or in-home chime settings.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: 'doorbot[description]', required: true, schema: {type: string}}
        - {in: query, name: 'doorbot[settings][doorbell_volume]', schema: {type: integer, minimum: 0, maximum: 11}}
        - {in: query, name: 'doorbot[settings][chime_settings][type]', schema: {type: integer}}
        - {in: query, name: 'doorbot[settings][chime_settings][enable]', schema: {type: integer, enum: [0, 1]}}
        - {in: query, name: 'doorbot[settings][chime_settings][duration]', schema: {type: integer, minimum: 0}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/chimes/{device_id}/play_sound:
    post:
      operationId: testChimeSound
      summary: Play a chime sound
      tags: [Device Controls]
      description: Plays a selected test sound on a chime device.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {in: query, name: kind, required: true, schema: {type: string, enum: [ding, motion]}}
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}/floodlight_light_on:
    put:
      operationId: turnFloodlightOn
      summary: Turn on a floodlight
      tags: [Device Controls]
      description: Turns on a device’s floodlight.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/doorbots/{device_id}/floodlight_light_off:
    put:
      operationId: turnFloodlightOff
      summary: Turn off a floodlight
      tags: [Device Controls]
      description: Turns off a device’s floodlight.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/Json'}, default: {$ref: '#/components/responses/HTTPFailure'}}
  /clients_api/ring_devices/{device_id}/health:
    get:
      operationId: getLegacyDeviceHealth
      summary: Get device health
      tags: [Devices]
      description: Retrieves health information for a Ring device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses:
        '200': {description: Legacy device health response, content: {application/json: {schema: {$ref: '#/components/schemas/LegacyDeviceHealth'}}}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/doorbots/{device_id}/history:
    get:
      operationId: getLegacyDeviceHistory
      summary: List doorbell recordings
      tags: [Recordings]
      description: Retrieves recordings associated with a doorbell, with optional filters and pagination.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {$ref: '#/components/parameters/limit'}
        - {$ref: '#/components/parameters/kind'}
        - {$ref: '#/components/parameters/older_than'}
      responses:
        '200': {$ref: '#/components/responses/RecordingArray'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/active:
    get:
      operationId: getActiveDings
      summary: List active alerts
      tags: [Recordings]
      description: Retrieves currently active Ring alerts.
      responses:
        '200': {$ref: '#/components/responses/RecordingArray'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/{recording_id}/recording:
    get:
      operationId: streamRecording
      summary: Stream a recording
      tags: [Recordings]
      description: Returns the recording media as an MP4 stream.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses:
        '200':
          description: Video stream; body remains open for the caller to consume and close.
          content:
            video/mp4:
              schema: {type: string, format: binary}
        '302':
          description: Redirect response that points to the recording media location.
          headers:
            Location: {schema: {type: string, format: uri-reference}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/dings/{recording_id}/share/play:
    get:
      operationId: getLegacyRecordingShareURL
      summary: Get a recording share URL
      tags: [Recordings]
      description: Retrieves the playback share link for a recording.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses:
        '200':
          description: Playback share URL
          content:
            application/json:
              schema: {$ref: '#/components/schemas/RecordingShare'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /device_info/v3/devices:
    get:
      operationId: listDevices
      summary: List devices
      tags: [Devices]
      description: Retrieves the devices available to the authenticated account.
      responses: {'200': {$ref: '#/components/responses/DeviceList'}}
  /device_info/v3/devices/{device_id}:
    get:
      operationId: getDevice
      summary: Get a device
      tags: [Devices]
      description: Retrieves details for a specific device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/DeviceDetail'}}
  /devices/v1/devices/{device_id}/settings:
    get:
      operationId: getDeviceSettings
      summary: Get device settings
      tags: [Device Settings]
      description: Retrieves the current settings for a device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/DeviceSettings'}}
    patch:
      operationId: patchDeviceSettings
      summary: Update device settings
      tags: [Device Settings]
      description: Updates one or more supported settings for a device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody: {$ref: '#/components/requestBodies/DeviceSettingsPatch'}
      responses: {'200': {$ref: '#/components/responses/DeviceSettings'}}
  /evm/v2/timeline/devices/{device_id}:
    get:
      operationId: getDeviceTimeline
      summary: Get a device timeline
      tags: [Device History]
      description: Retrieves timeline events for a device within an optional time range.
      parameters:
        - {$ref: '#/components/parameters/device_id'}
        - {$ref: '#/components/parameters/start_time'}
        - {$ref: '#/components/parameters/end_time'}
        - {$ref: '#/components/parameters/order'}
        - {$ref: '#/components/parameters/limit'}
        - {$ref: '#/components/parameters/capabilities'}
      responses: {'200': {$ref: '#/components/responses/DeviceTimeline'}}
  /evm/v3/history/devices:
    get:
      operationId: getHistoryDevices
      summary: List account history events
      tags: [Device History]
      description: Retrieves account history events and feed items, with optional source and capability filters.
      parameters:
        - {$ref: '#/components/parameters/source_ids'}
        - {$ref: '#/components/parameters/capabilities'}
      responses: {'200': {$ref: '#/components/responses/HistoryDevices'}}
  /clients_api/doorbots/{device_id}/siren_on:
    put:
      operationId: turnSirenOn
      summary: Turn on a siren
      tags: [Device Controls]
      description: Activates the siren on a doorbell device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {$ref: '#/components/responses/SirenOn'}}
  /clients_api/doorbots/{device_id}/siren_off:
    put:
      operationId: turnSirenOff
      summary: Turn off a siren
      tags: [Device Controls]
      description: Stops the siren on a doorbell device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {description: Siren stopped; no response body.}}
  /clients_api/snapshots/timestamps:
    post:
      operationId: refreshLegacySnapshotTimestamp
      summary: Request a snapshot timestamp
      tags: [Snapshots]
      description: Requests the latest snapshot timestamp for a device. A timestamp can be used to retrieve the corresponding image.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SnapshotTimestampRequest'}
      responses:
        '200':
          description: Optional timestamp for the requested snapshot
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SnapshotTimestampResponse'}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /clients_api/snapshots/image/{device_id}:
    get:
      operationId: getLegacySnapshotImage
      summary: Get a snapshot image
      tags: [Snapshots]
      description: Retrieves a device snapshot as JPEG image data.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses:
        '200':
          description: Snapshot image bytes
          content:
            image/jpeg: {schema: {type: string, format: binary}}
        default: {$ref: '#/components/responses/HTTPFailure'}
  /api/v1/clap/tickets:
    get:
      operationId: getCapturedLocationTickets
      summary: Get location signaling tickets
      tags: [Signaling]
      description: Retrieves signaling tickets and connection metadata for a location.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      parameters:
        - {$ref: '#/components/parameters/allowUserOnly'}
        - {$ref: '#/components/parameters/locationID'}
        - {$ref: '#/components/parameters/locationSubscription'}
        - {$ref: '#/components/parameters/enableExtendedEmergencyCellUsage'}
        - {$ref: '#/components/parameters/requestedTransport'}
      responses: {'200': {$ref: '#/components/responses/CapturedTickets'}}
  /api/v1/clap/ticket/request/signalsocket:
    post:
      operationId: requestLegacySignalingTicket
      summary: Request a signaling ticket
      tags: [Signaling]
      description: Requests a signaling ticket used to establish a device connection.
      servers: [{url: https://prd-api-us.prd.rings.solutions}]
      responses: {'200': {$ref: '#/components/responses/LegacySignalingTicket'}}
  /commands/v1/devices/{device_id}:
    patch:
      operationId: sendDeviceCommand
      summary: Send a device command
      tags: [Device Controls]
      description: Sends a command to a device and returns when Ring accepts it.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/DeviceCommand'}
      responses: {'204': {description: Command accepted; empty response}}
  /commands/v1/devices/{device_id}/device_rpc:
    put:
      operationId: unlockIntercom
      summary: Unlock an intercom
      tags: [Device Controls]
      description: Sends an unlock command to an intercom device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/IntercomUnlockCommand'}
      responses:
        '200': {description: Ring accepted the device RPC}
        '204': {description: Ring accepted the device RPC without a body}
  /duos/v1/devices/{device_id}/update:
    put:
      operationId: setLiveViewEnabled
      summary: Set live view availability
      tags: [Device Settings]
      description: Enables or disables live view for a device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LiveViewSettingRequest'}
      responses: {'204': {description: Setting accepted; empty response}}
  /groups/v1/locations/{location_id}/devices:
    get:
      operationId: listLocationDevices
      summary: List devices at a location
      tags: [Locations]
      description: Retrieves the devices assigned to a location.
      parameters: [{$ref: '#/components/parameters/location_id'}]
      responses: {'200': {$ref: '#/components/responses/LocationGroupDevices'}}
  /groups/v1/locations/{location_id}/groups:
    get:
      operationId: listLocationGroups
      summary: List device groups at a location
      tags: [Locations]
      description: Retrieves device groups configured for a location.
      parameters: [{$ref: '#/components/parameters/location_id'}]
      responses: {'200': {$ref: '#/components/responses/LocationGroups'}}
  /location_info/v3/locations:
    get:
      operationId: listLocations
      summary: List locations
      tags: [Locations]
      description: Retrieves locations available to the authenticated account.
      responses: {'200': {$ref: '#/components/responses/LocationList'}}
  /location_info/v4/locations/{location_id}:
    get:
      operationId: getLocation
      summary: Get a location
      tags: [Locations]
      description: Retrieves details for a specific location, with optional related resources.
      parameters:
        - {$ref: '#/components/parameters/location_id'}
        - {$ref: '#/components/parameters/include'}
      responses: {'200': {$ref: '#/components/responses/LocationDetail'}}
  /clients_api/dings/{recording_id}:
    delete:
      operationId: deleteRecording
      summary: Delete a recording
      tags: [Recordings]
      description: Deletes a recording. A confirmation parameter may be required for a favorited recording.
      parameters:
        - {$ref: '#/components/parameters/recording_id'}
        - {$ref: '#/components/parameters/confirm_delete_favorite'}
      responses: {'204': {description: Recording deleted; empty response}}
  /clients_api/device:
    patch:
      operationId: registerPushDevice
      summary: Register a push notification device
      tags: [Notifications]
      description: Registers a push notification token so the device can receive Ring alerts.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PushDeviceRegistration'}
      responses:
        '200': {description: Push registration accepted}
        '204': {description: Push registration accepted without body}
  /clients_api/doorbots/{device_id}/subscribe:
    post:
      operationId: subscribeDeviceDing
      summary: Subscribe to device alerts
      tags: [Notifications]
      description: Subscribes to alert notifications from a doorbell device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {description: Ding subscription accepted}}
  /clients_api/doorbots/{device_id}/motions_subscribe:
    post:
      operationId: subscribeDeviceMotion
      summary: Subscribe to motion alerts
      tags: [Notifications]
      description: Subscribes to motion notifications from a doorbell device.
      parameters: [{$ref: '#/components/parameters/device_id'}]
      responses: {'200': {description: Motion subscription accepted}}
  /clients_api/dings/{recording_id}/favorite:
    put:
      operationId: favoriteRecording
      summary: Favorite a recording
      tags: [Recordings]
      description: Marks a recording as a favorite.
      parameters: [{$ref: '#/components/parameters/recording_id'}]
      responses: {'201': {description: Recording favorited; no response body.}}
components:
  securitySchemes:
    RingAccessToken:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
      description: >-
        Send an OAuth access token in the Authorization: Bearer header. Token
        exchange and refresh operations are described under Authentication.
  parameters:
    device_id: {name: device_id, in: path, required: true, schema: {type: integer, format: int64, minimum: 1}}
    location_id: {name: location_id, in: path, required: true, schema: {type: string}}
    recording_id: {name: recording_id, in: path, required: true, schema: {type: integer, format: int64, minimum: 1}}
    start_time: {name: start_time, in: query, required: false, description: Inclusive timeline start in RFC 3339 format; requiredness is not established., schema: {type: string, format: date-time}}
    end_time: {name: end_time, in: query, required: false, description: Timeline end in RFC 3339 format; requiredness is not established., schema: {type: string, format: date-time}}
    order: {name: order, in: query, required: false, description: Descending order was recorded; other values may be accepted., schema: {type: string, x-extensible-enum: [desc]}}
    limit: {name: limit, in: query, required: false, description: Positive maximum number of results; 20 was recorded., schema: {type: integer, minimum: 1}}
    capabilities: {name: capabilities, in: query, required: false, description: "Comma-separated capability tokens. Observed tokens are offline_event, vehicle and ringtercom; future tokens are possible.", schema: {type: string, x-known-tokens: [offline_event, vehicle, ringtercom]}}
    source_ids: {name: source_ids, in: query, required: false, description: Observed query name; value is sanitized in the capture., schema: {type: string}}
    allowUserOnly: {name: allowUserOnly, in: query, required: false, description: Boolean encoded as a query string; false was recorded., schema: {type: boolean}}
    locationID: {name: locationID, in: query, required: false, schema: {type: string}}
    locationSubscription: {name: locationSubscription, in: query, required: false, schema: {type: string}}
    enableExtendedEmergencyCellUsage: {name: enableExtendedEmergencyCellUsage, in: query, required: false, description: Boolean encoded as a query string; true was recorded., schema: {type: boolean}}
    requestedTransport: {name: requestedTransport, in: query, required: false, description: WebSocket transport ws was recorded; other transports remain possible., schema: {type: string, x-extensible-enum: [ws]}}
    include: {name: include, in: query, required: false, description: "Comma-separated location expansions. Observed tokens are capabilities, presentation and status; future tokens are possible.", schema: {type: string, x-known-tokens: [capabilities, presentation, status]}}
    confirm_delete_favorite: {name: confirm_delete_favorite, in: query, required: false, description: Boolean encoded as a query string; false was recorded and requiredness is not established., schema: {type: boolean}}
    kind: {name: kind, in: query, required: false, description: "History category. Known values include ding, motion, and on_demand.", schema: {type: string, x-extensible-enum: [ding, motion, on_demand]}}
    older_than: {name: older_than, in: query, required: false, description: "Returns history older than this Unix timestamp, when supported.", schema: {type: integer, format: int64, minimum: 0}}
  requestBodies:
    Json: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
    DeviceSettingsPatch:
      required: true
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceSettingsPatch'}
    ExtensibleObject:
      required: true
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ExtensibleObject'}
  responses:
    DeviceList:
      description: Device inventory. Device-specific fields may vary by device.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceList'}
    DeviceDetail:
      description: Device details and related resources.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceDetail'}
    DeviceSettings:
      description: Device settings. Unrecognized settings are preserved as JSON values.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/DeviceSettings'}
    DeviceTimeline: {description: Device timeline, content: {application/json: {schema: {$ref: '#/components/schemas/DeviceTimeline'}}}}
    HistoryDevices: {description: Account history, content: {application/json: {schema: {$ref: '#/components/schemas/HistoryDevices'}}}}
    CapturedTickets: {description: Location signaling tickets, content: {application/json: {schema: {$ref: '#/components/schemas/CapturedTickets'}}}}
    LegacySignalingTicket: {description: Signaling ticket, content: {application/json: {schema: {$ref: '#/components/schemas/LegacySignalingTicket'}}}}
    LocationGroupDevices: {description: Devices in a location group, content: {application/json: {schema: {$ref: '#/components/schemas/LocationGroupDevices'}}}}
    LocationGroups: {description: Groups at a location, content: {application/json: {schema: {$ref: '#/components/schemas/LocationGroups'}}}}
    LocationList: {description: Locations, content: {application/json: {schema: {$ref: '#/components/schemas/LocationList'}}}}
    LocationDetail: {description: Location details, content: {application/json: {schema: {$ref: '#/components/schemas/LocationDetail'}}}}
    SirenOn:
      description: Current siren status, including the remaining duration
      content:
        application/json:
          schema: {$ref: '#/components/schemas/SirenStatus'}
    OAuthToken:
      description: Access and refresh token information
      content:
        application/json:
          schema: {$ref: '#/components/schemas/OAuthToken'}
    OAuthRedirect:
      description: Redirect to the next step in OAuth sign-in
      headers:
        Location: {required: true, schema: {type: string, format: uri-reference}}
    TwoFactorRequired:
      description: OAuth server requests or rejects a two-factor verification step
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    RateLimited:
      description: OAuth server rate-limited a request
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    AuthFailure:
      description: The authentication request was rejected
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    HTTPFailure:
      description: The request failed. The response may include error details.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/JsonValue'}
    RecordingArray:
      description: A list of recordings.
      content:
        application/json:
          schema:
            type: array
            items: {$ref: '#/components/schemas/Recording'}
    Json: {description: JSON response, content: {application/json: {schema: {$ref: '#/components/schemas/JsonValue'}}}}
  schemas:
    SignInForm:
      type: object
      required: [username, password, csrf-token]
      properties:
        username: {type: string}
        password: {type: string, format: password}
        csrf-token: {type: string}
    TwoFactorForm:
      type: object
      required: [2fa_code, csrf-token, remember_me]
      properties:
        2fa_code: {type: string}
        csrf-token: {type: string}
        remember_me: {type: string, enum: ['false']}
    RecordingShare:
      type: object
      required: [url]
      properties:
        url: {type: string, format: uri}
    SnapshotTimestampRequest:
      type: object
      required: [doorbot_ids]
      properties:
        doorbot_ids: {type: array, minItems: 1, items: {type: integer, minimum: 1}}
    SnapshotTimestampResponse:
      type: object
      properties:
        timestamps: {type: array, items: {$ref: '#/components/schemas/SnapshotTimestamp'}}
    SnapshotTimestamp:
      type: object
      required: [timestamp]
      properties:
        timestamp: {type: integer, format: int64}
    DeviceCommand:
      type: object
      required: [command_name]
      properties:
        command_name: {type: string, enum: [reboot]}
    IntercomUnlockCommand:
      type: object
      required: [command_name, request]
      properties:
        command_name: {type: string, enum: [device_rpc]}
        request: {$ref: '#/components/schemas/IntercomUnlockRPC'}
    IntercomUnlockRPC:
      type: object
      required: [jsonrpc, method, params]
      properties:
        jsonrpc: {type: string, enum: ['2.0']}
        method: {type: string, enum: [unlock_door]}
        params: {$ref: '#/components/schemas/IntercomUnlockParams'}
    IntercomUnlockParams:
      type: object
      required: [door_id, user_id]
      properties:
        door_id: {type: integer, enum: [0]}
        user_id: {type: integer, enum: [0]}
    PushDeviceRegistration:
      type: object
      required: [device]
      properties:
        device: {$ref: '#/components/schemas/PushDeviceRegistrationDevice'}
    PushDeviceRegistrationDevice:
      type: object
      required: [metadata, os, push_notification_token]
      properties:
        metadata: {$ref: '#/components/schemas/PushDeviceMetadata'}
        os: {type: string, enum: [android]}
        push_notification_token: {type: string, minLength: 1}
    PushDeviceMetadata:
      type: object
      required: [pn_dict_version, pn_service]
      properties:
        pn_dict_version: {type: string, enum: ['2.0.0']}
        pn_service: {type: string, enum: [fcm]}
        api_version: {type: integer}
        device_model: {type: string}
    LiveViewSettingRequest:
      type: object
      required: [entity]
      properties:
        entity: {$ref: '#/components/schemas/LiveViewSetting'}
    LiveViewSetting:
      type: object
      required: [live_view_enabled]
      properties:
        live_view_enabled: {type: boolean}
    OAuthTokenGrant:
      description: >-
        Supports authorization-code PKCE, refresh, and a compatibility password grant.
      oneOf:
        - {$ref: '#/components/schemas/AuthorizationCodeGrant'}
        - {$ref: '#/components/schemas/RefreshTokenGrant'}
        - {$ref: '#/components/schemas/LegacyPasswordGrant'}
    AuthorizationCodeGrant:
      type: object
      required: [grant_type, code, redirect_uri, code_verifier, client_id]
      properties:
        grant_type: {type: string, const: authorization_code}
        code: {type: string}
        redirect_uri: {type: string, format: uri}
        code_verifier: {type: string}
        client_id: {type: string}
      additionalProperties: false
    RefreshTokenGrant:
      type: object
      required: [grant_type, refresh_token, client_id, scope]
      properties:
        grant_type: {type: string, const: refresh_token}
        refresh_token: {type: string}
        client_id: {type: string}
        scope: {type: string}
      additionalProperties: false
    LegacyPasswordGrant:
      type: object
      required: [grant_type, username, password, client_id, scope]
      properties:
        grant_type: {type: string, const: password}
        username: {type: string}
        password: {type: string, format: password}
        client_id: {type: string}
        scope: {type: string}
      additionalProperties: false
    OAuthToken:
      type: object
      required: [access_token, token_type]
      properties:
        access_token: {type: string}
        refresh_token: {type: string}
        expires_in: {type: integer}
        token_type: {type: string}
        scope: {type: string}
      additionalProperties: true
    ClientSessionRegistration:
      type: object
      required: [device]
      properties:
        device:
          type: object
          required: [hardware_id, metadata, os]
          properties:
            hardware_id: {type: string}
            metadata:
              type: object
              required: [api_version, device_model]
              properties:
                api_version: {type: integer, const: 11}
                device_model: {type: string}
              additionalProperties: true
            os: {type: string, const: android}
          additionalProperties: true
      additionalProperties: true
    Recording:
      type: object
      required: [id, kind, answered, created_at, doorbot]
      properties:
        id: {type: integer}
        kind: {type: string, description: "Known recording kinds include ding, motion and on_demand; future kinds remain valid.", x-extensible-enum: [ding, motion, on_demand]}
        answered: {type: boolean}
        created_at: {type: string}
        doorbot:
          type: object
          required: [id]
          properties:
            id: {type: integer}
            description: {type: string, description: Legacy recording fixture field.}
            type: {type: string, description: Legacy recording fixture field.}
          additionalProperties: true
      additionalProperties: true
    ExtensibleObject:
      type: object
      additionalProperties: {$ref: '#/components/schemas/JsonValue'}
    DeviceList:
      type: object
      required: [devices]
      properties:
        devices: {type: array, items: {$ref: '#/components/schemas/Device'}}
        device_operation_sets:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    SignInState:
      type: object
      properties:
        tsv_state: {type: string, description: Presence indicates two-factor verification is required.}
        next_time_in_secs: {type: integer, minimum: 0}
      additionalProperties: true
    LegacyDeviceHealth:
      description: Device health fields. Additional fields may be returned.
      type: object
      properties:
        battery_level: {type: integer}
        battery_status: {type: string}
        signal_strength: {type: integer}
        firmware_version: {type: string}
        last_update: {type: string}
      additionalProperties: true
    DeviceDetail:
      type: object
      required: [device]
      properties:
        device: {$ref: '#/components/schemas/Device'}
        device_operation_set:
          type: object
          additionalProperties: {$ref: '#/components/schemas/DeviceOperationSet'}
      additionalProperties: true
    Device:
      description: Captured inventory/detail shape with additional baseline fixture fields; unknown hardware fields remain open.
      type: object
      required:
      - id
      - kind
      - description
      properties:
        id:
          type: integer
          format: int64
        device_id:
          type: string
        kind:
          type: string
          description: Observed v3 kind is stickup_cam_mini_ptz_v1; baseline fixtures also include doorbells, chimes and intercoms.
            Unknown kinds remain valid.
          x-extensible-enum:
          - stickup_cam_mini_ptz_v1
          - lpd_v1
          - chime
          - intercom_handset_audio
        description:
          type: string
        name:
          type: string
          description: Legacy inventory display name; v3 capture uses description.
        address:
          type: string
        timezone:
          type: string
        time_zone:
          type: string
          description: Alternate legacy timezone spelling.
        wifi_name:
          type: string
        wifi_signal_strength:
          type: integer
        volume:
          type: integer
          minimum: 0
          maximum: 11
        has_light:
          type: boolean
        light_brightness:
          type: integer
        motion_detection_enabled:
          type: boolean
        location_id:
          type: string
        family:
          type: string
          description: Baseline families include doorbots, chimes, stickup_cams and other; absent in the v3 capture and unknown
            families remain valid.
          x-extensible-enum:
          - doorbots
          - chimes
          - stickup_cams
          - other
        owned:
          type: boolean
        created_at:
          type: string
          format: date-time
        deactivated_at:
          type:
          - string
          - 'null'
          format: date-time
        operation_set:
          type: string
        owner:
          $ref: '#/components/schemas/DeviceOwner'
        health:
          $ref: '#/components/schemas/DeviceHealth'
        features:
          $ref: '#/components/schemas/DeviceFeatures'
        settings:
          $ref: '#/components/schemas/DeviceLegacySettings'
        schema_id:
          type: string
        is_sidewalk_gateway:
          type: boolean
        encryption_group:
          type: object
          properties:
            id:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            account_group_revision_id:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
          additionalProperties: true
        device_resource_id:
          type: string
        firmware_version:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        stolen:
          type: boolean
        ring_id:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        shared_at:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        subscribed:
          type: boolean
        subscribed_motions:
          type: boolean
        external_connection:
          type: boolean
        ring_net_id:
          type: [string, 'null']
          description: Null in the v3 camera capture; text in a legacy device response.
        active_schedule_uuid:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        alerts:
          type: object
          properties:
            connection:
              type: string
              description: Online in the captured camera response; offline in a baseline family fixture. Other states remain valid.
              x-extensible-enum: [online, offline]
            ota_status:
              type: string
            sidewalk_connection:
              type: boolean
            privacy_cover_enabled:
              type: boolean
          additionalProperties: true
        motion_snooze:
          anyOf:
          - type: object
            properties:
              scheduled: {type: boolean}
            additionalProperties: true
          - {type: 'null'}
        snooze_settings:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        camera_location_indoor:
          type: boolean
        facing_window:
          type: boolean
        siren_status:
          type: object
          properties:
            seconds_remaining:
              type: integer
            started_at:
              type: string
            duration:
              type: string
            ends_at:
              type: string
          additionalProperties: true
        ext_power_state:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        battery_life:
          description: Ring has returned a percentage, numeric text, and out-of-range hardware values (for example 4081 in a baseline fixture); callers must validate before treating it as a percentage.
          oneOf:
          - {type: integer}
          - {type: string}
          - {type: 'null'}
        battery_life_2:
          description: Optional second battery, with the same wire variants as battery_life.
          oneOf:
          - {type: integer}
          - {type: string}
          - {type: 'null'}
      additionalProperties: true
    DeviceFamilyCode:
      description: Observed legacy family labels. The device family field itself remains open to future values.
      type: string
      enum: [doorbots, chimes, stickup_cams, other]
    DoorbellDeviceKind:
      description: Known doorbell kinds from captured and baseline inventories; unknown kinds remain valid on Device.kind.
      type: string
      enum: [doorbot, doorbell, doorbell_v3, doorbell_v4, doorbell_v5, doorbell_scallop_lite, doorbell_oyster, doorbell_scallop, lpd_v1, lpd_v2, lpd_v3, lpd_v4, jbox_v1, doorbell_graham_cracker, df_doorbell_clownfish, doorbell_portal, cocoa_doorbell, cocoa_doorbell_v2]
    ChimeDeviceKind:
      description: Known chime kinds from captured and baseline inventories.
      type: string
      enum: [chime, chime_v2, chime_pro, chime_pro_v2]
    CameraDeviceKind:
      description: Known camera kinds from captured and baseline inventories.
      type: string
      enum: [hp_cam_v1, floodlight_v2, floodlight_pro, cocoa_floodlight, stickup_cam_mini, stickup_cam_mini_v2, stickup_cam_mini_ptz_v1, stickup_cam_v4, hp_cam_v2, spotlightw_v2, cocoa_spotlight, stickup_cam_longfin, stickup_cam, stickup_cam_v3, stickup_cam_lunar, stickup_cam_elite, stickup_cam_wired, cocoa_camera]
    OtherDeviceKind:
      description: Known devices with no doorbell, chime, or camera projection.
      type: string
      enum: [beams_ct200_transformer, intercom_handset_audio, intercom_handset_video]
    DeviceOwner:
      type: object
      properties:
        id:
          description: Numeric in the v3 capture and string in legacy inventory fixtures.
          oneOf:
            - {type: integer, format: int64}
            - {type: string}
        first_name: {type: string}
        last_name: {type: string}
        email: {type: string}
      additionalProperties: true
    DeviceHealth:
      type: object
      properties:
        battery_level:
          type: integer
        battery_percentage:
          type: number
          minimum: 0
          maximum: 100
          description: Seen in other Ring device families; absent from the captured wired camera.
        battery_present:
          type: boolean
          description: Seen in other Ring device families; absent from the captured wired camera.
        battery_status:
          type: string
        signal_strength:
          type: integer
        last_update:
          type: string
        connected:
          type: boolean
        rssi:
          type: number
        ptz_connected:
          type:
          - string
          - 'null'
          description: Observed non-null PTZ connection label is emperor; other hardware labels remain valid.
          x-extensible-enum:
          - emperor
        supported_rpc_commands:
          type: array
          items:
            type: string
        firmware_version:
          type: string
        battery_percentage_category:
          type: string
          description: The capture reports unknown; other battery categories remain valid.
          x-extensible-enum:
          - unknown
        ac_power:
          type: integer
        battery_voltage_category:
          type: string
        device_type:
          type: string
        external_connection:
          type: boolean
        floodlight_on:
          type: boolean
        last_update_time:
          type: integer
        network_connection_value:
          type: string
        night_mode_on:
          type: boolean
        ota_status:
          type: string
        rss_connected:
          type: boolean
        rssi_category:
          type: string
        second_battery_percentage_category:
          type: string
        second_battery_voltage_category:
          type: string
        sidewalk_connection:
          type: boolean
        white_led_on:
          type: boolean
        firmware_version_status:
          type: string
        packet_loss:
          type: number
        packet_loss_category:
          type: string
        hatch_open:
          type: boolean
        privacy_cover_enabled:
          type: boolean
        bandwidth:
          type: integer
        pref_run_mode:
          type: string
        run_mode:
          type: string
        siren_on:
          type: boolean
        status_time:
          type: integer
          format: int64
        vod_enabled:
          type: boolean
        battery_error:
          type: boolean
        bandwidth_last_time:
          type: integer
        firmware_avg_bitrate:
          type: string
        video_packets_total:
          type: string
        wifi_is_ring_network:
          type: boolean
        wifi_name:
          type: string
        channel:
          type: string
        egress_tx_rate:
          type: string
        fast_ping_hop1_score:
          type: string
        tx_rate:
          type: integer
        egress_tx_rate_category:
          type: string
        current_bandwidth:
          type: integer
        current_bandwidth_mb:
          type: number
        current_bandwidth_category:
          type: string
        encryption_group_error:
          type: integer
      additionalProperties: true
    DeviceFeatures:
      type: object
      properties:
        auto_track:
          $ref: '#/components/schemas/FeatureAvailability'
        auto_zoom_track:
          anyOf:
          - $ref: '#/components/schemas/FeatureAvailability'
          - type: 'null'
        video_rendering:
          $ref: '#/components/schemas/VideoRenderingFeature'
        motions_enabled:
          type: boolean
        cfes_eligible:
          type: boolean
        package_warning:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        smart_video_search:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        smart_video_description:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        live_view_audio_privacy_controls:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        person_identification:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        retinal_tuning:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            rt_max_digital_zoom_level:
              type: number
          additionalProperties: true
        original_video_quality_download_offer:
          type: object
          properties:
            is_enabled:
              type: boolean
          additionalProperties: true
        single_alert:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        chime_settings:
          type: object
          properties:
            is_eligible:
              type: boolean
          additionalProperties: true
        unusual_alert:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
            learning:
              type: object
              properties:
                state:
                  type: string
              additionalProperties: true
          additionalProperties: true
        transformer_score:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        video_donation:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
          additionalProperties: true
        ai_automated_warnings:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items: {}
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        automated_siren:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        alexa_plus_greetings:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        remote_access_control:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        ai_labs_daily_clip:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
            enablement:
              type: object
              properties:
                enabled:
                  type: boolean
              additionalProperties: true
            allows_no_location:
              type: boolean
          additionalProperties: true
        ai_labs_memorable_moments:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
            enablement:
              type: object
              properties:
                enabled:
                  type: boolean
              additionalProperties: true
            allows_no_location:
              type: boolean
          additionalProperties: true
        network_backup:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
            enablement:
              type: object
              properties:
                allowed:
                  type: boolean
                enabled:
                  type: boolean
                disallow_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        network_backup_host:
          type: object
          properties:
            eligibility:
              type: object
              properties:
                eligible:
                  type: boolean
                ineligibility_reasons:
                  type: array
                  items:
                    type: string
              additionalProperties: true
          additionalProperties: true
        property_view:
          type: object
          properties:
            enablement:
              type: object
              properties:
                enabled:
                  type: boolean
              additionalProperties: true
          additionalProperties: true
        auto_shutoff_device:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        tracklight:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        motion_zone_recommendation:
          type: boolean
        motion_message_enabled:
          type: boolean
        show_recordings:
          type: boolean
        show_vod_settings:
          type: boolean
        rich_notifications_eligible:
          type: boolean
        show_offline_motion_events:
          type: boolean
        sheila_camera_eligible:
          type: boolean
        sheila_camera_processing_eligible:
          type: boolean
        dynamic_network_switching_eligible:
          type: boolean
        video_recording:
          type: object
          properties:
            recording_mode:
              type: string
            recording_enabled:
              type: boolean
            recording_state:
              type: string
            recording_mode_availability:
              type: object
              properties:
                continuous:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    available:
                      type: boolean
                    unavailability_reason:
                      type: string
                  additionalProperties: true
              additionalProperties: true
          additionalProperties: true
        ptz_setup_complete:
          type: boolean
        vehicle_detection_eligible:
          type: boolean
        animal_detection_eligible:
          type: boolean
        motion_stop_edge_eligible:
          type: boolean
        show_24x7_lite:
          type: boolean
        recording_24x7_eligible:
          type: boolean
      additionalProperties: true
    FeatureAvailability:
      type: object
      properties:
        eligibility: {$ref: '#/components/schemas/FeatureEligibility'}
        enablement: {$ref: '#/components/schemas/FeatureEnablement'}
      additionalProperties: true
    FeatureEligibility:
      type: object
      properties:
        eligible: {type: boolean}
        ineligibility_reasons: {type: array, items: {type: string}}
      additionalProperties: true
    FeatureEnablement:
      type: object
      properties:
        allowed: {type: boolean}
        enabled: {type: boolean}
        disallow_reasons: {type: array, items: {type: string}}
      additionalProperties: true
    VideoRenderingFeature:
      type: object
      properties:
        max_digital_zoom_level: {type: number, minimum: 0, description: Device-reported maximum digital zoom level; units beyond the capture are not established.}
      additionalProperties: true
    DeviceLegacySettings:
      type: object
      properties:
        motion_detection_enabled:
          type: boolean
        doorbell_volume:
          type: integer
          minimum: 0
          maximum: 11
          description: Doorbell volume level.
        live_view_disabled:
          type: boolean
        motion_snooze_preset_profile:
          type: string
        motion_snooze_presets:
          type: array
          items:
            type: string
        live_view_preset_profile:
          type: string
        extended_live_view:
          type: integer
        live_view_presets:
          type: array
          items:
            type: string
        advanced_motion_detection_enabled:
          type: boolean
        advanced_motion_detection_human_only_mode:
          type: boolean
        enable_audio_recording:
          type: boolean
        people_detection_eligible:
          type: boolean
        ignore_zones:
          type: object
          properties:
            zone1:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            zone2:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            zone3:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            zone4:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
          additionalProperties: true
        enable_rich_notifications:
          type: boolean
        rich_notifications_billing_eligible:
          type: boolean
        rich_notifications_face_crop_enabled:
          type: boolean
        user_specified_recording_ttl:
          type: integer
        loitering_threshold:
          type: integer
        advanced_motion_detection_types:
          type: array
          items:
            type: string
        rich_notifications_scene_source:
          type: string
        offline_motion_event_settings:
          type: object
          properties:
            subscribed:
              type: boolean
            enabled:
              type: boolean
            max_upload_kb:
              type: integer
            resolution_p:
              type: integer
            frequency_after_secs:
              type: integer
            period_after_secs:
              type: integer
          additionalProperties: true
        cv_settings:
          type: object
          properties:
            detection_types:
              type: object
              properties:
                baby_cry:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                car_alarm:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                co2_smoke_alarm:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                dog_bark:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                general_sound:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                glass_break:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                human:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                loitering:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                motion:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                moving_vehicle:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                other_motion:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                package_delivery:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                package_pickup:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                vehicle:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                animal:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                unverified_motion:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
                motion_stop:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                    record:
                      type: boolean
                    notification:
                      type: boolean
                  additionalProperties: true
              additionalProperties: true
            threshold:
              type: object
              properties:
                baby_cry:
                  type: number
                car_alarm:
                  type: number
                co2_smoke_alarm:
                  type: number
                dog_bark:
                  type: number
                general_sound:
                  type: number
                glass_break:
                  type: number
                loitering:
                  type: number
                package_delivery:
                  type: number
                unverified_motion:
                  type: number
              additionalProperties: true
            triggers:
              type: array
              items: {}
            search_types:
              type: object
              properties:
                natural_language_search:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    mode:
                      type: string
                  additionalProperties: true
              additionalProperties: true
          additionalProperties: true
        sheila_settings:
          type: object
          properties:
            cv_processing_enabled:
              type: boolean
            local_storage_enabled:
              type: boolean
          additionalProperties: true
        server_settings:
          type: object
          properties:
            ring_media_server_enabled:
              type: boolean
            ring_media_server_host:
              type: string
          additionalProperties: true
        cv_paid_features:
          type: object
          properties:
            baby_cry:
              type: boolean
            car_alarm:
              type: boolean
            co2_smoke_alarm:
              type: boolean
            dog_bark:
              type: boolean
            general_sound:
              type: boolean
            glass_break:
              type: boolean
            human:
              type: boolean
            loitering:
              type: boolean
            motion:
              type: boolean
            other_motion:
              type: boolean
            package_delivery:
              type: boolean
            package_pickup:
              type: boolean
            cv_triggers:
              type: boolean
            vehicle:
              type: boolean
            animal:
              type: boolean
          additionalProperties: true
        other_paid_features:
          type: object
          properties:
            alexa_concierge:
              type: boolean
            sheila_cv:
              type: boolean
            sheila_recording:
              type: boolean
            critical_alerts:
              type: boolean
            system_level_pip:
              type: boolean
            extended_live_view:
              type: boolean
            snapshot_capture_plus:
              type: boolean
            live_speak:
              type: boolean
            closed_caption:
              type: boolean
            daily_digest:
              type: boolean
            ding_call:
              type: boolean
            natural_language_search:
              type: boolean
            multicam_live_view:
              type: boolean
            package_protection:
              type: boolean
            alarm_triggered_recording:
              type: boolean
            recording_24x7:
              type: boolean
          additionalProperties: true
        zone_settings:
          type: object
          properties:
            motion:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  state:
                    type: string
                  properties:
                    type: object
                    properties:
                      detection_types:
                        type: array
                        items:
                          type: string
                      zone_types:
                        type: array
                        items: {}
                    additionalProperties: true
                  vertices:
                    type: array
                    items:
                      type: object
                      properties:
                        x:
                          type: number
                        y:
                          type: number
                      additionalProperties: true
                additionalProperties: true
            monitoring:
              type: array
              items: {}
          additionalProperties: true
        stark_enrolled:
          type: boolean
        network_settings:
          type: object
          properties:
            mac_address_ble:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            max_dynamic_listen_interval:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            network_diagnosis:
              type: object
              properties:
                channel_analysis:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                periodic_diagnosis:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                lan_performance:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                tcp_iperf:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                tcp_host:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                tcp_port:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                udp_iperf:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                udp_host:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                udp_port:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
                udp_bandwidth:
                  type: 'null'
                  description: Only null was observed in the captured device response; future values are unverified.
              additionalProperties: true
            multi_net_pref:
              type: integer
            data_restriction_enabled:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            mac_address_wifi_24:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            mac_address_wifi_5:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
          additionalProperties: true
        audio_settings:
          type: object
          properties:
            enable_live_view_audio_override:
              type: boolean
          additionalProperties: true
        motion_settings:
          type: object
          properties:
            motion_snooze_preset_profile:
              type: string
          additionalProperties: true
        motion_zones:
          description: Empty array in the v3 capture; structured zone map in legacy families.
          oneOf:
          - {type: array, items: {}}
          - {type: object, additionalProperties: true}
        active_streaming_event_led_enabled:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        enable_vod:
          description: Integer in the v3 camera capture; boolean in legacy family responses.
          oneOf:
          - {type: integer}
          - {type: boolean}
        exposure_control:
          type: integer
        vod_suspended:
          type: integer
        vod_status:
          type: string
        voice_volume:
          type: integer
        video_settings:
          type: object
          properties:
            encryption_enabled:
              type: boolean
            encryption_method:
              type: integer
            encryption_eligibility_mode:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            hevc_enabled:
              type: boolean
            recording_24x7_mode:
              type: integer
          additionalProperties: true
        advanced_motion_zones:
          type: object
          properties:
            zone1:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: number
                    y:
                      type: integer
                  additionalProperties: true
                vertex3:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex4:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: number
                  additionalProperties: true
                vertex5:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex6:
                  type: object
                  properties:
                    x:
                      type: number
                    y:
                      type: integer
                  additionalProperties: true
                vertex7:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex8:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: number
                  additionalProperties: true
              additionalProperties: true
            zone2:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex3:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex4:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex5:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex6:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex7:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex8:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            zone3:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex3:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex4:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex5:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex6:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex7:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex8:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
          additionalProperties: true
        advanced_motion_zones_enabled:
          type: boolean
        advanced_motion_zones_type:
          type: string
        advanced_pir_motion_zones:
          type: object
          properties:
            zone1_sensitivity:
              type: integer
            zone2_sensitivity:
              type: integer
            zone3_sensitivity:
              type: integer
            zone4_sensitivity:
              type: integer
            zone5_sensitivity:
              type: integer
            zone6_sensitivity:
              type: integer
          additionalProperties: true
        terms_of_service_accepted:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        stark_enabled:
          type: 'null'
          description: Only null was observed in the captured device response; future values are unverified.
        motion_announcement:
          type: boolean
        enable_ir_led:
          type: boolean
        power_mode:
          type: string
          description: Wired in the captured camera response; other power modes remain valid.
          x-extensible-enum: [wired]
        ptz_settings:
          type: object
          properties:
            mode:
              type: string
            auto_scan:
              type: object
              properties:
                step_size:
                  type: number
                pause_ms:
                  type: integer
              additionalProperties: true
            pan_settings:
              type: object
              properties:
                positions:
                  type: object
                  properties:
                    min:
                      type: number
                    max:
                      type: number
                    default:
                      type: number
                  additionalProperties: true
                movement:
                  type: object
                  properties:
                    max_speed:
                      type: number
                    max_acceleration:
                      type: number
                    step_size:
                      type: number
                  additionalProperties: true
              additionalProperties: true
            tilt_settings:
              type: object
              properties:
                positions:
                  type: object
                  properties:
                    min:
                      type: number
                    max:
                      type: number
                    default:
                      type: number
                  additionalProperties: true
                movement:
                  type: object
                  properties:
                    max_speed:
                      type: number
                    max_acceleration:
                      type: number
                    step_size:
                      type: number
                  additionalProperties: true
              additionalProperties: true
          additionalProperties: true
        hybrid_motion_zones:
          type: object
          properties:
            motion_snooze_privacy_timeout:
              type: integer
            enable_ir:
              type: 'null'
              description: Only null was observed in the captured device response; future values are unverified.
            active_motion_filter:
              type: integer
            enable_pir_validation:
              type: boolean
            enable_rlmd:
              type: boolean
            sensitivity:
              type: integer
            enable_audio:
              type: boolean
            zone1:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: number
                    y:
                      type: integer
                  additionalProperties: true
                vertex3:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex4:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: number
                  additionalProperties: true
                vertex5:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex6:
                  type: object
                  properties:
                    x:
                      type: number
                    y:
                      type: integer
                  additionalProperties: true
                vertex7:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex8:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: number
                  additionalProperties: true
              additionalProperties: true
            zone2:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex3:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex4:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex5:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex6:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex7:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex8:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            zone3:
              type: object
              properties:
                name:
                  type: string
                state:
                  type: integer
                vertex1:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex2:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex3:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex4:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex5:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex6:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex7:
                  type: object
                  properties:
                    x:
                      type: integer
                    y:
                      type: integer
                  additionalProperties: true
                vertex8:
                  type: object
                  properties:
                    x:
                      type: integer
[...]
